@import "../../../styles/variables.scss";

button.btn.open-filters {
  &.open {
    background: $Type-Link;
    color: $White;
  }
}

.filters-menu {
  position: absolute;
  z-index: 17;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 1.937px 4.358px 0px rgba(0, 0, 0, 0.13), 0px 0.363px 1.089px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease-in-out;

  // Desktop
  @media (min-width: 576px) {
    // prevent panel from covering zoom/scale
    max-height: calc(100vh - 166px);

    // layers tab only
    &.layers-tab {
      height: 676.2px;
    }
  }

  // Mobile
  @media (max-width: 575px) {
    // -2 pixel for gap between nav bar and panel
    height: calc(100% - 2px);
  }

  &.closed {
    display: contents;

    @media (max-width: 575px) {
      max-height: 0;
    }
  }

  @media (min-width: 576px) {
    position: absolute;
    top: 1rem;
    bottom: initial;
    left: auto;
    right: 1rem;
    width: 300px;
  }
}

.map-tab {
  color: $Grey80 !important;
  padding: 8px 12px;
  margin: 0 12px;

  &:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }

  &.active {
    background-color: transparent;
    border: none;
    box-shadow: none;

    font-weight: 700;
    color: $BC-Blue !important;
  }
}

.hide {
  display: none !important;
}

.mobile-filter-tabs, .filter-tabs {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  .tabs-header {
    background: white;
    border-bottom: 1px solid $Nav-link-border;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .tab-content {
    display: inline-flex;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%;
    margin-top: 0;


    .tab-pane {
      display: block;
      opacity: 1;
      flex-shrink: 0;
      transition: transform 0.3s ease-in-out;
      width: 100%;
      height: 100%;
      overflow-y: auto;

      &:first-of-type {
        transform: translateX(-100%);

        &.active {
          transform: translateX(0);
        }
      }

      &:last-of-type {
        transform: translateX(0);

        &.active {
          transform: translateX(-100%);
        }
      }

      & > div {
        height: calc(100vh - 222px);
        max-height: fit-content;

        &.filters {
          @supports (-moz-appearance:none) {
            height: 100%;
          }
        }

        @media (pointer: coarse) and (max-width: 575px) {
          max-height: 622px;
        }

        @media (pointer: coarse) and (min-width: 576px) {
          height: calc(100vh - 172px);
        }
      }
    }
  }
}

button.close-filters {
  position: absolute;
  top: 0.5rem;
  right: .75rem;
  padding: 0;
  min-width: 0;
  line-height: 1.25rem;
  background: none;
  border:none;
  font-size: 1.25rem;
  color: #070707;
}

.mobile-filter-tabs {
  position: absolute;
  z-index: 20;
  background: white;
}
