@import "../../../styles/variables.scss";

button.btn.open-filters {
  &.open {
    background: $Type-Link;
    color: $White;
  }
}

button.close-filters-legacy {
  position: absolute;
  right: 1rem;
  padding: 0;
  min-width: 0;
  line-height: 1.25rem;
  height: auto;
  background: none;
  border:none;
  font-size: 1rem;
}

.filters {
  &.legacy {
    background: $Grey10;
    z-index: 17;
    position: absolute;
    width: 300px;
    box-shadow: 0px 1.937px 4.358px 0px rgba(0, 0, 0, 0.13), 0px 0.363px 1.089px 0px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    max-height: calc(100vh - 200px);

    @media (max-width: 912px) {
      width: 100%;

      &.delays {
        position: absolute;
        z-index: 17;
        width: max-content;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0px 1.937px 4.358px 0px rgba(0, 0, 0, 0.13), 0px 0.363px 1.089px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
      }
    }
  }

  .filters-title {
    margin: 0;
    font-size: 1.125rem;

    &__container {
      display: flex;
      align-items: center;
      margin: 0;
      padding: .75rem .75rem .25rem .75rem;
      background: $Grey10;
    }

    &__notification {
      font-size:0.75rem;
      color:$White;
      background-color: $Focus;
      padding: 0.25rem 0.375rem;
      border-radius: 4px;
      margin-left: 8px;
    }

    &__tooltip-info {
      margin-left: 4px;
      color: $White;
      background-color: transparent;
      padding: 0;
      border: none;
      font-size: 0.75rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .filters-list {
    position: relative;
    padding: 12px 8px 8px;
    overflow-y: auto;
    background: $Grey10;

    .filter-group {
      &__title {
        font-size: 0.875rem;
        font-weight: 700;
        margin-left: 12px;
        margin-bottom: 8px;
      }

      .filter-items-group {
        padding: 8px 12px 16px;
        background: white;
        border-radius: 4px;
      }

      & + .filter-group {
        margin-top: 8px;
      }

      .filter-item {
        display: flex;
        align-items: center;

        & + .filter-item {
          margin-top: 8px;
        }

        &__button {
          display: flex;
          align-items: center;
          background: $Grey20;
          color: $Type-Primary;
          padding: 2px 8px 2px 2px;
          border: none;
          border-radius: 1.75rem;
          font-size: 0.875rem;
          transition: all 0.2s ease-in-out;

          &:hover {
            cursor: pointer;
            @media (hover: hover) {
              background: $BtnHover-Secondary;
            }
          }

          &__icon {
            margin-right: 8px;
            height: 24px;
            width: 24px;
            font-size: 0.75rem;
            border-radius: 12px;
            background-color: $White;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;

            svg {
              opacity: 1;
              position: absolute;
              top: 0;
              transition: all 0.3s ease-in-out;
            }
          }
        }

        &--closures {
          .filter-item__button .filter-item__button__icon {
            font-size: 1.125rem;
          }
        }

        &--closures, &--major, &--wildfires {
          .filter-item__button .filter-item__button__icon svg {
            color: $Error;
            fill: $Error;
          }
        }

        &--minor, &--future-events, &--road-conditions {
          .filter-item__button .filter-item__button__icon svg {
            color: $Gold110;
            fill: $Gold110;
          }
        }

        &--highway-cameras {
          .filter-item__button .filter-item__button__icon svg {
            color: $Info;
            fill: $Info;
          }
        }

        &--inland-ferries {
          .filter-item__button .filter-item__button__icon svg {
            color: $Success;
            fill: $Success;
          }
        }

        &--weather {
          .filter-item__button .filter-item__button__icon svg {
            color: $Type-Secondary;
            fill: $Type-Secondary;
          }
        }

        &--rest-stops, &--rest-stops-large-vehicle {
          .filter-item__button .filter-item__button__icon svg {
            color: $Type-reststop;
            fill: $Type-reststop;
          }
        }

        &--seasonal-load {
          .seasonal-load-link {
            text-decoration: none;
            color: $Type-Primary;
            font-size: 0.875rem;

            &:hover {
              text-decoration: underline;
              color: $Type-Primary;
            }
          }

          svg {
            font-size: 13px;
            margin-left: 8px;
            margin-right: 8px;
          }

        }

        &--wildfires {
          .filter-item__button {
            &__icon {
              svg{
                align-self: anchor-center;
              }
            }
          }
        }

        &.checked {
          .filter-item__button {
            background-color: $BC-Blue;
            color: white;
          }
        }

        &.disabled {
          .filter-item__button {
            color: $Type-Disabled;
            background-color: $Grey20;
            border: 1px solid $Grey20;

            &__icon {
              background-color: $Divider;

              svg {
                color: $Type-Disabled;
              }
            }

            &:hover {
              cursor: auto;
              text-decoration: none;
              background-color: $Grey20;
            }
          }
        }

        &.loading {
          .filter-item__button {
            color: $Type-Disabled;
            background-color: $Grey20;
            border: 1px solid $Grey20;

            &__icon {
              svg {
                opacity: 0;
                top: -24px;
              }
            }
          }
        }

        input {
          position: absolute;
          z-index: -1;
          margin-left: 10px;

          &:focus + label.filter-item__button {
            outline: 2px solid $Focus;
            box-shadow: 0 0 0 0.25rem rgba(1, 51, 102, 0.25);
          }
        }

        .tooltip-info {
          margin-left: 8px;
          color: $White;
          background-color: $Type-Secondary;
          padding: 0 5px;
          border-radius: 0.5rem;
          border: none;
          font-size: 0.625rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

}
