body, p, h1, h2, h3, h4, a, span {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 2em;
  color: $Type-Primary;
  max-width: 700px;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1.25em;
  font-weight: 700;
}

a {
  color: $Type-Link;
  font-weight: 400;
  
  &:hover {
    text-decoration: underline;
  }
}

ul {
  line-height: 1.6;
}

.label {
  color: $Type-Primary;
  font-size: 0.875em;
  font-weight: 400;
}

.body {
  font-size: 1em;
  font-weight: 400;
}

.body--large {
  font-size: 1.125em;
  font-weight: 400;
}

.subtitle {
  font-size: 1.25em;
  font-weight: 400;
}

.subtitle--large {
  font-size: 1.5em;
  font-weight: 400;
}

.display {
  font-size: 3em;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}