$Type-Primary: #292929;
$Type-Secondary: #464341;
$Type-Disabled: #A19F9D;
$Type-Link: #1A5A96;

$Divider: #D9D9D9;
$Input-Border: #8A8886;
$Card-Border: #323130;

$BC-Blue: #013366;
$BC-Blue-Alt: #38598A;
$BC-Blue-Light: #F6F9FC;
$BC-Yellow: #3355FF;
$BC-Yellow-Alt: #FDDC8C;

$Success: #2E8540;
$Error: #D8292F;
$Focus: #2E5DD7;

// Greys