@import "../../styles/variables.scss";

.bulletins-accordion {
  width: 500px;

  .accordion-header {
    font-size: 0.75em;
    
    .accordion-button {
      font-size: 1em;
      padding: 6px 12px;
    }
  }

  .accordion-body {
    font-size: 0.75em;

    ul {
      margin-bottom: 4px;
    }
  }
}