@import "../../styles/variables.scss";

.bulletins {
  display: flex;
  background-color: $Surface-tint-yellow;
  padding: 32px;
  margin-bottom: 2em;

  .imagery {
    margin-right: 20px;
    font-size: 2em;
    color: $BC-Yellow-Dark;
  }
}
