@import "../../styles/variables.scss";

.bulletins-list {
  li {
    cursor: pointer;
    width: fit-content;
  }
}
.empty-bulletin-display {
  h2 {
    margin-bottom: 2rem;
    color: $BC-Blue;
  }
}