@import "../styles/variables.scss";

.advisory-map {
  width: 800px;
  height: 600px;
}

.timestamp-container {
  h4, .friendly-time {
    display: inline-block;
  }

  .friendly-time {
    margin-left: 15px;
  }
}
