@import "../styles/variables.scss";

.advisories-page {
  position: relative;

  .network-error, .server-error {
    @media (max-width: 768px) {
      position: relative;
    }
  }

  .page-header {
    background-color: $Advisory-Bg;
    
    .page-title, .page-description {
      color: $Advisory-Text;
    }
  }

  .advisories-list {

    .advisory-li {
      margin-bottom: 54px;
      width: 100%;
      box-shadow: none;

      & + li.advisory-li {
        margin-top: 24px;
      }

      &:hover {
        .advisory-li-title {
          text-decoration: none;
        }
      }

      &__content {

        @media (min-width: 992px) {
          display: flex;
          justify-content: space-between;
          width: 100%;
          gap: 40px;

          .advisory-li__content__partition {
            &:nth-of-type(1) {
              width: 35%;
            }
            &:nth-of-type(2) {
              width:  50%;
            }
            &:nth-of-type(3) {
              width: 15%;
            }
          }
        }

        .advisory-li-title-container {
          .advisory-li-title {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          .timestamp-container {
            margin-top: 1rem;
          }
          .advisory-li-state {
            margin-left: 0;
          }
        }

        .advisory-li-body-container {
          .advisory-li-body {
            font-size: 1.125rem;
          }
        }

        .button-container {
          display: flex;
          align-items: center;
          margin-top: 1rem;

          @media (min-width: 992px) {
            margin-top: 0;
          }
          
          .viewDetails-link {
            text-decoration: none;
            font-weight: 700;
            white-space: nowrap;
            color: $Type-Link;

            &:hover {
              text-decoration: underline;
            }

            svg {
              margin-left: 8px;
            }
          }
        }
      }

      .timestamp-container, .friendly-time-text {
        color: $Type-Secondary;
        font-weight: 400;
      }

      .advisory-li-title, .advisory-li-state, .friendly-time-text{
        font-weight: 400;
      }

      .advisory-li-state, .friendly-time-text{
        font-size: 0.875rem;
      }

      .advisory-li-title {
        margin-bottom: 16px;
        color: $Type-Link;
      }

      .timestamp-container {
        display: none;

        &--mobile {
          display: flex;
          margin-top: 20px;
        }

        @media (min-width: 992px) {
          display: flex;

          &--mobile {
            display: none;
          }
        }

        .friendly-time, .formatted-date {
          margin-left: 0.5ch;
        }
      }

      &.unread {
        .advisory-li-title, .advisory-li-state, .friendly-time-text{
          font-weight: 700;
        }

        .timestamp-container, .friendly-time-text {
          color: $Type-Secondary;
        }

        .timestamp-container:before {
          content: '\2022';
          font-size: 1.75rem;
          line-height: 1rem;
          margin-right: 0.5rem;
          margin-top: 0.125rem;
          color: $Error;
        }
      }

      .advisory-li-title-container {
        @media (min-width: 992px) {
          width: 358px;
        }
      }

      .advisory-li-body-container {
        @media (min-width: 992px) {
          width: 645px;
        }
      }
    }
  }

  .beta-message-container {
    display: flex;
    justify-content: center;
    
    .beta-message {
      background-color: $Advisory-Bg;
      border-radius: 8px;
      width: fit-content;
      margin: 24px 16px 0;
      padding: 24px;

      &__title {
        font-size: 1.5rem;

        svg {
          margin-right: 12px;
        }
      }

      p {
        color: $Advisory-Text;
      }
    }
  }
}
