@import "../styles/variables.scss";

.advisory-map {
  width: 800px;
  height: 600px;
}

.advisory-container {
  margin: 30px 18%;
}

.advisory, .advisory-list {
  margin: 30px 0;
}

.image {
  width: 800px;
  height: 600px;
}

a.advisory-title {
  text-decoration: none;
}