@import "../styles/variables.scss";

.bulletin-page {
  .page-header {
    .timestamp-container, .friendly-time-text {
      color: $Type-Secondary;
    }

    & + .container {
      padding-top: 24px;
  
      @media (min-width: 992px) {
        padding-top: 48px;
      }
    }
  }
}
