@import "../styles/variables.scss";

.bulletin-map {
  width: 800px;
  height: 600px;
}

.bulletin-container {
  margin: 30px 18%;
}

.bulletin, .bulletin-list {
  margin: 30px 0;
}

.image {
  width: 800px;
  height: 600px;
}

a.bulletin-title {
  text-decoration: none;
}