@import "../styles/variables.scss";

.supplementary-map {
  width: 800px;
  height: 600px;
}

.supplementary-container {
  margin: 30px 18%;
}

.supplementary, .supplementary-list {
  margin: 30px 0;
}

.image {
  width: 800px;
  height: 600px;
}