@import "../styles/variables.scss";

.bulletin-page {
  position: relative;

  .network-error, .server-error {
    @media (max-width: 768px) {
      position: relative;
    }
  }

  .page-header {

    #back-container {
      padding-bottom: 16px;
      padding-top: 16px;

      .back-link {
        margin-bottom: 0;
      }
    }
    
    &__title {
      .page-title, .page-description {
        color: $BC-Blue;
      }

      &__meta {
        display: flex;
        align-items: center;

        .timestamp-container, .friendly-time-text {
          color: $BC-Blue;
        }

        .timestamp-container {
          margin-right: 40px;
          display: flex;
        }

        .share-url {
          margin-left: auto;

          .copy-btn {
            background: darken($Surface-camera, 8%);
      
            &:hover {
              background: darken($Surface-camera, 15%);
            }
          }
        }
      }

      & + .container {
        padding-top: 24px;

        @media (min-width: 992px) {
          padding-top: 48px;
        }
      }
    }
  }

  .cms-body {
    .responsive-object {
      img {
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
    }
  }
}
