@import "../styles/variables.scss";

.cameras-page {
  position: relative;

  .network-error, .server-error {
    @media (max-width: 767px) {
      position: relative;
    }
  }

  .selected-filters-container {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    margin-top: 8px;

    .selected-filter {
      display: flex;
      background: $Info;
      border-radius: 8px;
      padding: 8px 8px 6px;
      color: white;

      .remove-btn {
        cursor: pointer;
        font-weight: bold;
        font-size: 0.875rem;
        color: white;
        margin-left: 8px;
        margin-right: 4px;
      }
    }
  }

  .advisories-btn {
    margin-top: 1rem;
    width: 100%;

    @media (min-width: 576px) {
      width: fit-content;
    }

    .advisories-count {
      margin-left: auto;

      @media (min-width: 576px) {
        margin-left: 8px;
      }
    }
  }

  .empty-cam-display {
    h2, h6 {
      color: $Info;
    }

    h6 {
      margin-top: 2rem;
    }
  }
}
