@import "../styles/variables.scss";

.camera-page {

  .back-link {
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    svg {
      margin-right: 8px;
    }
  }

  .camera-details {
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__description {
      h2 {
        margin-bottom: 1em;
      }

      .body--large {
        margin-bottom: 2em;

        @media (min-width: 992px) {
          margin-bottom: 0;
        }
      }
    }

    &__more {
      display: flex;
      justify-content: space-around;
      margin: 0;

      @media (min-width: 576px) {
        justify-content: flex-start;
        gap: 60px;
      }

      &__hwy, &__elevation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .label--more {
          margin-top: 1em;
          white-space: nowrap;
        }
      }

      &__hwy {
        .highway-shield {
          position: relative;

          &__number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 4px;
            color: $HwyCrest;
            font-weight: 700;
            font-size: 0.875em;
            letter-spacing: -0.05em;
          }
          img {
            height: 50px;
          }
        }
      }

      &__elevation {
        .elevation {
          font-weight: 700;
          line-height: 1;
          color: $BC-Blue;
          margin-bottom: 0;

          .number {
            font-size: 4rem;
          }
        }
      }

      .label--more {
        font-weight: 700;
        margin-bottom: 0;
        color: $Grey70;
      }
    }
  }

  .camera-message {
    border-left: 3px solid;
    margin-bottom: 2em;
    padding: 24px 36px 32px;

    p, ul {
      margin-bottom: 0;
    }

    p.bold {
      margin: 0.5rem 0 1rem;
    }

    svg {
      font-size: 1.5rem;
    }

    &.stale {
      padding: 20px;
      background-color: $Surface-status-grey;
      border-color: $Type-status-grey;

      p {
        color: $Type-status-grey;
        margin: 0;
      }
    }

    &.delayed {
      background-color: $Surface-status-yellow;
      border-color: $Type-status-yellow;

      p, ul, svg {
        color: $Type-status-yellow;
      }
    }

    &.unavailable {
      background-color: $Surface-status-red;
      border-color: $Type-status-red;

      p, ul, svg {
        color: $Type-status-red;
      }
    }
  }

  .camera-update {
    margin: 1rem 1rem;

    @media (min-width: 576px) {
      margin: 1rem 0;
    }

    @media (min-width: 992px) {
      margin: 0 1rem 1rem;
    }

    &--desktop {
      display: none;
  
      @media (min-width: 992px) {
        display: block;
      }
    }

    p {
      margin-bottom: 0;
    }

    &--mobile {
      @media (min-width: 992px) {
        display: none;
      }
    }
  }

  .actions-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    background-color: $BC-Blue-Light;
    color: $BC-Blue;

    @media (min-width: 992px) {
      min-height: 48px;
    }

    &--nearby {
      height: 48px;
    }

    &--webcam {
      .camera-orientations {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
        @media (min-width: 576px) { 
          flex-grow: 1;
          display: block;
        }
  
        .btn.camera-direction-btn {
          width: initial;
  
          & + .btn.camera-direction-btn {
            margin-left: 6px;
          }
        }
        
  
        .camera-direction-label {
          margin-right: 0.5rem;
        }
  
        .camera-directions-group {
          margin-left: 8px;

          @media (min-width: 576px) { 
            margin-left: 0;
          }
          .camera-direction-btn {
            width: 40px;
            max-width: initial;
          }
        }
      }
    }
  }

  .camera-imagery {
    max-width: 518px;
    margin: 0 auto;

    .tab-content {
      & > .tab-pane {

        .card-img-box {
          height: 365px;

          @media (min-width: 576px) {
            margin: 0;
          }

          &.unavailable {
            background-color: $Surface-status-red;
            color: $Error;
            font-size: 6.875rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          img {
            width: 100%;
            height: 365px;
            object-fit: cover;

            &.image-gallery-image {
              height: 388px;
              cursor: auto;
            }
          }

          .image-gallery {
            box-shadow: 0px 1.600000023841858px 3.5999999046325684px 0px rgba(0, 0, 0, 0.13), 0px 0.30000001192092896px 0.8999999761581421px 0px rgba(0, 0, 0, 0.10);

            &-slide-wrapper {
              display: flex;
              flex-wrap: wrap;

              .replay-control {
                display: flex;
                justify-content: center;
                margin: 0 0 12px 0;

                @media (min-width: 992px) {
                  margin: auto 0;
                }

                .replay-btn {
                  color: $Type-Primary;
                  background-color: $White;
                  border: none;
                  width: 60px;
                  height: 60px;
                  border-radius: 30px;
                  padding: initial;
                  margin-bottom: 0;

                  @media(min-width: 992px) {
                    width: 36px;
                    height: 36px;
                    border-radius: 18px;
                  }

                  &:hover {
                    background-color: $Grey30;
                  }
                }
              }

              //Replay the day on mobile
              .range-slider-container {
                order: 2;
                margin: 0 15px;
                width: calc(100% - 30px);
              }

              .replay-control--backward {
                order: 3;
                width: 33.33%;
                svg {
                  font-size: 1.25rem;
                }
              }

              .replay-control--forward {
                order: 5;
                width: 33.33%;
                svg {
                  font-size: 1.25rem;
                }
              }

              .image-gallery-swipe {
                order: 1;
                width: 100%;
              }

              .replay-control--play {
                order: 4;
                width: 33.33%;
                svg {
                  font-size: 1.5rem;
                }
              }

              //Replay the day on desktop
              @media (min-width: 992px) {
                .range-slider-container {
                  order: 5;
                  margin: 5px 15px;
                  width: calc(70% - 30px);
                }

                .replay-control--backward {
                  order: 2;
                  width: 10%;
                }

                .replay-control--forward {
                  order: 4;
                  width: 10%;
                }

                .image-gallery-swipe {
                  order: 1;
                  width: 100%;
                }

                .replay-control--play {
                  order: 3;
                  width: 10%;
                }
              }
            }
          }
        }

        .timestamp {
          background-color: $Black;
          padding: 0 10px;
          display: flex;
          justify-content: space-between;

          p {
            color: $White;
            font-size: 0.875rem;
            margin-bottom: 0;
          }

          .driveBC {
            font-family: serif;
            span {
              color: $BC-Yellow;
            }
            margin-right: 10px;
          }
        }
      }
    }

    #camera-details-tab-webcam {
      display: flex;
    }

    .replay-div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 0.5rem;

      @media (min-width: 576px) {
        justify-content: space-between;
      }

      svg {
        margin-right: 8px;
        margin-top: 4px;
      }

      .replay-the-day {
        margin-bottom: 0.5em;
        margin-right: 0.5em;

        @media (min-width: 576px) {
          margin-bottom: 0;
        }
      }

      .replay-the-day {
        .form-switch {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          padding-left: 0;

          .form-check-input, .form-check-label {
            cursor: pointer;
          }

          .form-check-input {
            height: 20px;
            margin: 0;
            margin-left: 8px;
            order: 2;
          }

          .form-check-label {
            font-size: 1rem;
            white-space: nowrap;
            order: 1;
          }
        }
      }
    }

    //Desktop view without tabs
    @media (min-width: 992px) {
      max-width: unset;
      margin: 0;

      .nav-tabs {
        display: none;
        margin: 0 16px;
      }

      .tab-content {
        display: flex;

        & > .tab-pane {
          opacity: 1;
          display: block;
          width: calc(50% - 10px);

          &:first-of-type {
            margin-right: 12px;
          }

          &:last-of-type {
            margin-left: 12px;
          }
        }
      }
    }
  }

  //Custom container for full width on mobile, and padding for bigger width
  .container--full-width {
    max-width: 1124px;
    margin: auto;
    padding: 32px 0 0 0;

    @media (min-width: 576px) {
      padding: 32px;
    }

    & > div:not(.camera-imagery),
    .camera-imagery .nav-tabs,
    .replay-div {
      margin-left: 16px;
      margin-right: 16px;

      @media (min-width: 576px) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  //Map in Context
  .map-context-wrap {
    position: relative;
    top: 0rem;
    bottom: 0;
    width: 100%;
    height: 388px;

    .map {
      width: 100%;
      height: 100%;

      .ol-scale-line {
        bottom: 8px;
        right: 8px;
      }
    }

    .map-btn {
      &.map-view {
        position: absolute;
        top: -42px;
        left: 8px;
        bottom: initial;
        right: initial;
      }

      &.open-layers {
        position: absolute;
        top: -42px;
        right: 8px;
        bottom: initial;
        left: initial;
      }

      &.cam-location {
        position: absolute;
        bottom: 8px;
        left: 8px;
        display: flex;
        align-items: center;
      }

      &.zoom-btn {
        display: none;
      }
    }

    .layers {
      position: absolute;
      right: 0;
      bottom: 0;
      bottom: initial;
      left: initial;
      max-height: 480px;

      @media (min-width: 992px) {
        top: 0;
        bottom: initial;
        right: 8px;
      }
    }
  }
}
