@import "../styles/variables.scss";

.camera-page {
  position: relative;
  overflow-x: hidden;

  .network-error, .server-error {
    @media (max-width: 768px) {
      position: relative;
    }
  }

  #back-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }

   .container--sidepanel {
    @media (min-width: 992px) {
      flex-direction: column;
    }
    @media (min-width: 1200px) {
      flex-direction: row;
    }
   }

  .camera-details {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 1200px) {
      flex: 1 1 25%;
      min-width: initial;
    }

    &__description {
      &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
        width: 90%;
        @media (min-width: 1440px) {
          width: initial;
        }
        h2 {
          color: $BC-Blue;
          margin-bottom: 0;
        }
        .favourite-btn {
          height: 32px;
          margin-top: 0.5rem;
          svg {
            margin-right: 8px;
          }
        }
      }

      .body--large {
        margin-bottom: 1em;

        @media (min-width: 992px) {
          margin-top: 8px;
          margin-bottom: 0;
        }
      }
    }

    &__more {
      display: flex;
      justify-content: space-between;
      margin: 0;

      @media (min-width: 576px) {
        justify-content: flex-start;
        gap: 60px;
        margin: 1.5rem 0 0;
      }

      @media (min-width: 992px) {
        display: flex;
      }
      @media (min-width: 1200px) {
        display: inline;
      }

      p {
        white-space: nowrap;
      }


      &__update, &__elevation, &__hwy {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-end;

        &-detail {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          p {
            margin-bottom: 0;
          }
        }

        .tooltip-info {
          margin-left: 6px;
          color: #FFFFFF;
          background-color: $Grey80;
          padding: 0 5px;
          border-radius: 0.5rem;
          border: none;
          font-size: 0.625rem;
          height: 14px;

          &:hover {
            cursor: pointer;
          }
        }

        .label {
          margin-top: 0.2857em;
          margin-bottom: 0;
          white-space: nowrap;
          font-weight: 400;
          color: $Grey80;

          display: flex;
          align-items: center
        }

        .number {
          font-size: 1rem;
          font-weight: 700;
        }
      }

      &__update, &__elevation {
        svg {
          width: 1rem;
          color: $Grey80;
        }
      }

      &__title.label {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: 576px) {
          flex-direction: row;
        }
        @media (min-width: 768px) {
          align-items: center;
        }

        span {
          font-size: 0.875rem;
          @media (min-width: 768px) {
            font-size: 1rem;
          }
        }

        svg {
          margin-right: 8px;
        }
      }
    }
  }

  .actions-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    height: 44px;
    align-items: center;
    background-color: $Blue10;
    color: $BC-Blue;
    border-radius: 8px;
    margin-bottom: 8px;

    .title {
      font-weight: 700;
      display: flex;
      align-items: center;

      svg {
        margin-right: 8px;
      }
    }
    @media (max-width: 576px) {
      span {
        font-size: 0.875rem;
      }
    }
    @media (min-width: 576px) {
      flex-direction: row;
    }

    @media (min-width: 992px) {
      min-height: 44px;
    }

    &--nearby {
      height: 44px;
    }

    &--webcam {
      .camera-orientations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;
        padding: 0;
        background-color: inherit;

        @media (min-width: 576px) {
          justify-content: flex-start;
        }

        .btn.camera-direction-btn {
          width: auto;
          padding: 0 12px;
          font-size: 0.75rem;

          @media (min-width: 576px) {
            font-size: 0.875rem;
          }

          @media (min-width: 992px) {
            padding: 0 8px;
          }
          @media (min-width: 1200px) {
            padding: 0 12px;
          }
          & + .btn.camera-direction-btn {
            margin-left: 4px;
          }
        }


        .camera-direction-label {
          margin-right: 0.5rem;

          @media (min-width: 1240px) {
            padding-left: 0;
          }

          span {
            margin-left: 8px;
            font-weight: 700;
          }
        }

        .camera-directions-group {
          margin-left: 8px;

          @media (min-width: 576px) {
            margin-left: 0;
          }
          .camera-direction-btn {
            width: 40px;
            max-width: initial;
          }
        }
      }
    }
  }

  .camera-notifications {
    background-color: $Blue80;
    color: white;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 8px;
    margin-top: 16px;

    @media (min-width: 992px) {
      width: calc(50% - 12px);
    }

    h3 {
      font-size: 1.125rem;
    }

    &.stale {
      color: $Type-Primary;
      background-color: $Grey-invert;

      p {
        color: $Type-Primary;
      }
    }

    &.delayed {
      display: block;
      color: $Gold110;
      background-color: $Gold50;

      p {
        color: $Gold110;
      }

      .main-message {
        display: flex;
        align-items: baseline;
        margin-bottom: 14px;
      }
    }

    svg {
      margin-right: 8px;
    }

    p {
      color: white;
      margin-bottom: 0;
    }
  }

  .camera-imagery {
    flex: 1 1 75%;

    &__details, &__nearby {
      display: flex;
      flex-direction: column;

      @media (min-width: 1200px) {
        flex-direction: row;
      }

      &__right {
        margin-left: 0;

        @media (min-width: 1200px) {
          margin-left: 24px;
        }
      }
    }

    &__nearby {
      flex-direction: column;
      gap: 24px;
      @media (min-width: 992px) {
        flex-direction: row;
      }
      @media (min-width: 1200px) {
        gap: initial;
      }

      &__right {

      }
      .nearby-weathers-container {
        .popup {
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
      .forecast-card {
        container: card / inline-size;
        @container card (width < 227px) {
          .header {
            flex-direction: column;
          }
        }

      }


      .forecast-cards-container {
        flex-direction: column;
        gap: 8px;

        .forecast-name {
          font-size: 0.875rem;
        }
        .weather-icon {
          margin-right: 0.5rem;
        }

        @media (min-width: 1440px) {
          flex-direction: row;
          gap: 12px;
        }
      }
    }

    .mobile-tabs {
      .nav-item {
        width: 50%;

        button {
          width: 100%;
        }
      }
    }
  }

  .camera-imagery__details {
    margin-bottom: 30px;

    &__left {
      margin: 0;
      @media (min-width: 768px) {
        padding: 0;
      }

      @media (min-width: 1200px) {
        flex: 1 1 77%;
      }
      @media (min-width: 1440px) {
        flex: 1 1 66%;
      }

      .image-wrap {
        position: relative;

        &:not(.replay):after {
          content: "";
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 50%;
          bottom: 0;
        }

        &.unavailable {

          .card-img-box {
            background-color: $Surface-major;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: fit-content;
            min-height: 388px;
          }

          .unavailable-message {
            padding: 12px;

            svg, p, ul, h3 {
              color: $Error;
            }
            p:has(+ul) {
              margin-bottom: 0;
            }

            svg {
              font-size: 1.25rem!important;

              &.icon {
                padding: 0!important;
              }
            }

            p {
              &.bold {
                font-weight: 700!important;
                font-size: 1rem;
                line-height: 1.5;
                margin-top: 0.25rem;
                margin-bottom: 0.75rem;
              }
            }
          }
        }

        &.updated {
          .card-banner, .card-pill {
            background-color: $Blue80;

            p, svg {
              color: $White;
            }
          }
        }

        &.stale {
          .card-banner, .card-pill {
            background-color: $Grey50;

            p, svg {
              color: $Grey100;
            }
          }

          .card-pill {
            &:hover {
              background-color: $Grey70;
            }
          }
        }

        &.delayed {
          .card-banner, .card-pill {
            background-color: $Gold20;

            p, svg {
              color: $BC-Yellow-Dark;
            }
          }

          .card-pill {
            &:hover {
              background-color: $Gold60;
            }
          }

          .card-banner {
            svg {
              font-size: 1.5rem!important;

              &.icon {
                padding: 0!important;
              }
            }

            p {
              font-weight: 400!important;

              &.bold {
                font-weight: 700!important;
                font-size: 1.25rem;
                line-height: 1.875rem;
                margin-top: 0.25rem;
                margin-bottom: 0.75rem;
              }
            }

            ul {
              color: $BC-Yellow-Dark;
            }
          }
        }

        &.unavailable {
          .card-pill {
            &:hover {
              background-color: $Error;
            }
          }
        }

        .card-img-box {
          height: fit-content;
          position: relative;
          overflow: hidden;

          @media (min-width: 992px) {
            border-radius: 4px;
          }

          &:has(.image-gallery) {
            overflow: visible;
          }

          img {
            width: 100%;

            &.image-gallery-image {
              cursor: auto;
              object-fit: contain;
            }
          }

          .card-banner, .card-pill {
            position: absolute;
            display: flex;
            align-items: center;

            &.hidden {
              transform:translateY(-200%);
              transition: transform 0.7s;
            }

            &.bounce {
              animation: bounce 0.7s ease;
              animation-fill-mode:forwards;
            }

            @keyframes bounce {
                0% { transform:translateY(-200%); }
                40% { transform:translateY(20%); }
                100% { transform:translateY(0%); }
            }

            p {
              font-weight: 700;
              margin-bottom: 0;
            }
          }

          .card-banner {
            padding: 96px 18px 12px 18px;
            top: -84px;
            width: 100%;
            justify-content: space-between;
            align-items: normal;

            p, svg {
              font-size: 1rem;
            }

            p {
              flex: 1;
            }

            svg {
              padding: 5px 8px;
              border-radius: 16px;
              cursor: pointer;

              &:not(.icon):hover {
                background-color: rgba(0,0, 0,0.1);
              }
            }
          }

          .card-pill {
            top: 8px;
            right: 8px;
            padding: 6px 12px;
            border-radius: 16px;
            transform:translateY(-200%);
            transition: background-color 0.1s ease-in-out;
            position: absolute;
            cursor: pointer;

            &:hover {
              transition: background-color 0.1s ease-in-out;
            }

            p, svg {
              font-size: 0.875rem;
            }

            svg {
              margin-left: 4px;
            }
          }

          .image-gallery {
            // box-shadow: 0px 1.600000023841858px 3.5999999046325684px 0px rgba(0, 0, 0, 0.13), 0px 0.30000001192092896px 0.8999999761581421px 0px rgba(0, 0, 0, 0.10);
            margin-bottom: 1rem;
            background: #000;

            &-slide-wrapper {
              display: flex;
              flex-wrap: wrap;

              .replay-control {
                display: flex;
                justify-content: center;
                margin: 0 0 12px 0;

                @media (min-width: 992px) {
                  margin: auto 0;
                }

                .replay-btn {
                  color: $White;
                  background: transparent;
                  border: none;
                  width: 60px;
                  height: 60px;
                  border-radius: 30px;
                  padding: initial;
                  margin-bottom: 0;

                  .fa-pause {
                    margin-left: 1px;
                  }
                  @media(min-width: 992px) {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                  }

                  &:hover {
                    background-color: $Grey90;
                  }

                  &:focus {
                    // border: rgb(46, 93, 215) solid 1px;
                  }
                }
              }

              //Replay the day on mobile
              .range-slider-container {
                order: 2;
                margin: 0 15px;
                padding: 4px 0 8px;
                width: calc(100% - 30px);
              }

              .replay-control--backward {
                order: 3;
                width: 33.33%;
                padding: 4px 0 8px;
                svg {
                  font-size: 1.25rem;
                }
              }

              .replay-control--forward {
                order: 5;
                width: 33.33%;
                padding: 4px 0 8px;
                svg {
                  font-size: 1.25rem;
                }
              }

              .image-gallery-swipe {
                order: 1;
                width: 100%;
              }

              .replay-control--play {
                order: 4;
                width: 33.33%;
                padding: 4px 0 8px;
                .fa-play {
                  font-size: 1.25rem;
                  margin-left: 4px;
                }
                .fa-pause {
                  font-size: 1.25rem;
                  margin-left: 0;
                }
              }

              //Replay the day on desktop
              @media (min-width: 992px) {
                .range-slider-container {
                  order: 5;
                  margin: 5px 15px;
                  width: calc(70% - 30px);
                }

                .replay-control--backward {
                  order: 2;
                  width: 10%;
                }

                .replay-control--forward {
                  order: 4;
                  width: 10%;
                }

                .image-gallery-swipe {
                  order: 1;
                  width: 100%;
                }

                .replay-control--play {
                  order: 3;
                  width: 10%;
                }
              }
            }
          }
        }

        .timestamp {
          background-color: $Black;
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          position: absolute;
          z-index: 2;
          bottom: 0;

          svg {
            @media (max-width: 767px) {
              width: 48px;
            }
          }
          p, .friendly-time-text {
            color: $White;
            font-size: 0.875rem;
            margin-bottom: 0;
            @media (max-width: 767px) {
              font-size: 0.75rem;
            }
          }

          .driveBC {
            margin-top: 4px;
            margin-right: 10px;
          }
        }
      }

      .replay-div {
        position: absolute;
        z-index: 2;
        left: 8px;
        padding: 2px 8px;
        bottom: 16px;
        background: rgba(0,0,0,0.65);
        border-radius: 4px;
        color: white;
        font-weight: 700;
        @media (min-width: 576px) {
          bottom: 20px
        }

        @media (min-width: 768px) {
          bottom: 24px
        }
        @media (min-width: 992px) {
          bottom: 28px;
        }
        @media (min-width: 1200px) {
          bottom: 22px;
        }

        &:hover {
          background: rgba(0,0,0,0.9);
          transition: 0.1s ease-in-out background;
        }
        &.replay-on {
          bottom: 93px;

          @media (max-width: 991px) {
            bottom: 152px;
          }
        }

        svg {
          margin-right: 8px;
          margin-top: 4px;
        }

        .replay-the-day {
          .form-switch {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;
            .form-check-label {
              font-size: 0.75rem;
            }
            .form-check-input {
                margin: 0 0 0 8px;
                position: static;
                height: 1rem;
                width: 1.75rem;
            }
          }
        }
      }

      .credit {
        font-size: 0.875rem;
        line-height: 1.5;

        &.under-replay {
          margin-top: 112px;

          @media (min-width: 992px) {
            margin-top: 50px;
          }
        }
      }
    }

    &__right {
      @media (min-width: 1200px) {
        flex: 1 1 22%;
      }
      @media (min-width: 1440px) {
        flex: 1 1 33%;
      }
      .camera-orientations-container {
        .header {
          height: 44px;
          margin-bottom: 8px;
          padding: 0.5rem;
        }
      }
    }
  }

  .camera-imagery__nearby {
    &__left {
      width: 100%;
      @media (min-width: 992px) {
        width: 50%;
      }
      .actions-bar--nearby {
        .title {
          font-weight: 700;
          display: flex;
          align-items: center;

          svg {
            margin-right: 8px;
          }
        }
      }
      .map-wrap {
        .filters-menu {
          height: calc(100% - 140px);
        }
      }
    }
    &__right {
      width: 100%;
      @media (min-width: 992px) {
        width: 50%;
      }

      @media (min-width: 1440px) {
        // width: 560px;
      }
    }
  }

  //Custom container for full width on mobile, and padding for bigger width
  .container--full-width {
    max-width: 1124px;
    margin: auto;
    padding: 32px 0 0 0;

    @media (min-width: 576px) {
      padding: 32px;
    }

    @media (min-width: 1200px) {
      padding: 44px 0;
    }

    & > div:not(.camera-notifications, .camera-imagery) {
      margin-left: 16px;
      margin-right: 16px;

      @media (min-width: 576px) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;

      }
      @media (min-width: 1240px) {
        flex-direction: row;
      }
    }
  }

  // Map in Context
  .map-context-wrap {
    position: relative;
    top: 0rem;
    bottom: 0;
    width: 100%;
    height: 388px;
    clip-path: inset(-56px 0 0 0px);

   @media (min-width: 992px) {
    height: calc(100% - 64px);
   }

    .map {
      width: 100%;
      height: 100%;
      border-radius: 8px;

      .ol-scale-line {
        bottom: 8px;
        right: 8px;
      }
    }

    .map-btn {
      background-color: $Blue10;

      &.cam-location, &.map-view, &.open-filters {
        padding: 4px 8px;
        font-size: 0.75rem;
      }

      .btn {
        background-color: $Blue10;
      }

      &:hover, &.open {
        background: $Type-Link;
      }

      &.map-view {
        position: absolute;
        top: -45px;
        right: 8px;
        bottom: initial;
        left: initial;
      }

      &.open-filters {
        position: absolute;
        top: 8px;
        right: 8px;
        bottom: initial;
        left: initial;
      }

      &.cam-location {
        position: absolute;
        bottom: 8px;
        left: 8px;
        display: flex;
        align-items: center;
      }

      &.zoom-btn {
        bottom: 48px;
        right: 8px;
      }
    }
  }
}

.tab-content {
  margin-top: 24px;
  .map-context-wrap {
    min-height: 388px;
    height: calc(100vh - 470px);
  }
  .camera-imagery__nearby {
    margin-top: 2px;
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-spinner {
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .custom-spinner {
    width: 30px;
    height: 30px;
  }
}
