@import "../styles/variables.scss";

.events-page {
  .sort-and-filter {
    display: flex;
    justify-content: space-between;

    .dropdown {
      //bootstrap override
      .dropdown-toggle {
        font-size: 0.875em;

        svg {
          margin-left: 8px;
        }
        &::after {
          border: none;
          content: none;
        }
      }

      .dropdown-menu {
        box-shadow: 0px 3.200000047683716px 7.199999809265137px 0px rgba(0, 0, 0, 0.13), 0px 0.6000000238418579px 1.7999999523162842px 0px rgba(0, 0, 0, 0.10);
        border-radius: 4px;
        padding: 20px;

        .form-check {
          margin-bottom: 12px;
          color: $Type-Primary;
          label {
            white-space: nowrap;

            svg {
              margin-right: 8px;
              margin-left: 8px;
              color: $BC-Blue;
            }
          }
        }
      }
    }
  }
}
