@import "../styles/variables.scss";

.events-page {
  position: relative;

  .network-error, .server-error {
    @media (max-width: 768px) {
      position: relative;
    }
  }

  .controls-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    @media (min-width: 1200px) {
      justify-content: space-between;
    }

    .dropdown.sorting {
      margin-left: auto; 
      margin-right: 16px;

      @media (min-width: 1200px) {
        margin-left: 0;
      }

      button {
        margin-bottom: 0;

        @media (min-width: 1200px) {
          border: 1px solid transparent;
        }

        &:hover {
          border: 1px solid $Type-status-grey;
        }

        &::after {
          display: none;
        }

        .fa-angle-down {
          padding-top: 5px;
          margin-left: 5px;
        }
      }

      .dropdown-menu {
        width: 305px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 1.937px 4.358px 0px rgba(0, 0, 0, 0.13), 0px 0.363px 1.089px 0px rgba(0, 0, 0, 0.10);

        .dropdown-item {
          padding: 15px;

          &.selected {
            font-weight: 700;
            color: #053662;
          }
        }
      }
    }

    .filters-component {
      position: relative;

      .open-filters {
        margin: 0;

        svg {
          margin-left: 0;

          @media (min-width: 1200px) {
            margin-left: 8px;
          }
        }
      }

      .filters {
        @media (min-width: 768px) {
          max-height: initial;
          top: 2.4375rem;
          right: 0;
        }
      }
    }
  }
}

.empty-event-display {
  h2, h6 {
    color: $BC-Blue;
  }

  h6 {
    margin-top: 2rem;
  }
  strong {
    margin-top: 12px;
    display: inline-block;
  }
}

.eventType {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 0.875rem;
  width: 100%;

  @media (min-width: 768px) {
    border-radius: 24px;
    padding: 4px 12px;
    width: auto;
  }

  .delay-icon-img {
    width: 1.5rem;
    margin-right: 8px;
  }
}

.closure .eventType {
  background: #CE3E39;
  color: white;
}

.major .eventType {
  background: #FFE4E5;
  color: #CE3E39;
}

.minor .eventType {
  background: #FEF0D8;
  color: #584215;
}