@import "../styles/variables.scss";

.faq-map {
  width: 800px;
  height: 600px;
}

.faq-container {
  margin: 30px 18%;
}

.faq, .faq-list {
  margin: 30px 0;
}

.image {
  width: 800px;
  height: 600px;
}
