@import "../styles/variables.scss";

.feedback-page {
  .subject-select {
    display: flex;
    flex: 1;
    flex-direction: column;

    .dropdown-container {
      position: relative;

      svg {
        position: absolute;
        right: 6px;
        top: 6px;
        pointer-events: none;
      }
    }
  }

  .text-max-width {
    max-width: 550px;
  }

  .description {
    margin-bottom: 3rem;
  }

  .feedback-form {
    & > div {
      margin-bottom: 1.5rem;
    }

    .form-control {
      font-size: 1rem;
    }
  }

  .feedback-sent {
    margin-bottom: 2rem;
  }

  .feedback-wait {
    margin-bottom: 0.5rem;
  }

  li::marker {
    color: $Type-Link;
  }

  .submit-error {
    margin-top: .5rem;
    background: $Surface-major;
    color: $Error;
    padding: .5rem;
    border-radius: 4px;

    ul {
      margin-bottom: 0;
    }

    li {
      color: $Error;
    }
  }
}
