@import "../styles/variables.scss";

.report-problem {
  text-align: left;
  margin: 20px;
}

.problem-categories, .emergency-contacts {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  flex-wrap: wrap; // Allow wrapping of items
}

.category, .contact {
  border: 1px solid #ddd;
  padding: 20px;
  width: 30%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  transition: transform 0.2s, box-shadow 0.2s;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px; // Add spacing between rows
}

.category:hover, .contact:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.category-icon, .contact-icon {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  margin: 0 auto 20px;
}

.category h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.category p, .contact p {
  font-size: 14px;
  color: #666;
}

.emergency-contacts .contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon {
  width: 50px; 
  height: 50px; 
  margin: 0 10px 0 0;
}

.underline {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .category, .contact {
    width: 45%;
  }
}


@media (max-width: 768px) {
  .problem-categories, .emergency-contacts {
    flex-direction: column;
    align-items: center;
  }

  .category, .contact {
    width: 90%;
  }

  .category-icon, .contact-icon {
    width: 80px;
    height: 80px;
  }

  .category h2 {
    font-size: 16px;
  }

  .category p, .contact p {
    font-size: 12px;
  }
}