@import "../../styles/variables.scss";

button.btn.open-filters {
  svg {
    margin-left: 8px;
  }

  &.open {
    background: $Type-Link;
    color: #FFFFFF;
  }
}

.filters {
  position: fixed;
  z-index: 7;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: calc(100% - 32px);
  border-radius: 4px;
  background-color: $Surface-tinted;
  box-shadow: 0px 1.937px 4.358px 0px rgba(0, 0, 0, 0.13), 0px 0.363px 1.089px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (orientation: landscape) and (max-width: 767px) {
    max-height: calc(100% - 60px);
  }

  @media (min-width: 768px) {
    position: absolute;
    top: calc(1rem + 36px);
    bottom: initial;
    left: initial;
    right: 1rem;
    width: 300px;
  }

  .filters-title {
    margin: 1rem 1rem 0;
    font-size: 1.125rem;
  }

  button.close-filters {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    min-width: 0;
    line-height: 1.25rem;
    height: auto;
    background: none;
    border:none;
    font-size: 1rem;
  }

  .filters-list {
    padding: 1rem;
    overflow-y: auto;
    background: white;

    .filter-group {
      &__title {
        font-size: 0.875rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
      }

      & + .filter-group {
        margin-top: 12px;
      }

      .filter-item {
        display: flex;
        align-items: center;

        & + .filter-item {
          margin-top: 8px;
        }

        &__button {
          display: flex;
          align-items: center;
          background-color: $Grey20;
          padding: 2px 8px 2px 2px;
          border-radius: 1.75rem;
          font-size: 0.875rem;
          transition: all 0.2s ease-in-out;

          &:hover {
            cursor: pointer;
            background-color: #1E5189;
            color: white;
          }
          
          &__icon {
            margin-right: 8px;
            height: 24px;
            width: 24px;
            font-size: 0.75rem;
            border-radius: 12px;
            background-color: $White;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;

            svg {
              opacity: 1;
              position: absolute;
              top: 0;
              transition: all 0.3s ease-in-out;
            }
          }
        }

        &--closures {
          .filter-item__button .filter-item__button__icon {
            font-size: 1.125rem;
          }
        }

        &--closures, &--major {
          .filter-item__button .filter-item__button__icon svg {
            color: #CE3E39;
            fill: #CE3E39;
          }
        }

        &--minor, &--future-events, &--road-conditions {
          .filter-item__button .filter-item__button__icon svg {
            color: #584215;
            fill: #584215;
          }
        }

        &--highway-cameras {
          .filter-item__button .filter-item__button__icon svg {
            color: #053662;
            fill: #053662;
          }
        }

        &--inland-ferries {
          .filter-item__button .filter-item__button__icon svg {
            color: $Success;
            fill: $Success;
          }
        }

        &--weather {
          .filter-item__button .filter-item__button__icon svg {
            color: #474543;
            fill: #474543;
          }
        }

        &--rest-stops, &--rest-stops-large-vehicle {
          .filter-item__button .filter-item__button__icon svg {
            color: #273F94;
            fill: #273F94;
          }
        }

        &.checked {
          .filter-item__button {
            background-color: $BC-Blue;
            color: white;
          }
        }

        &.disabled {
          .filter-item__button {
            color: $Type-Disabled;
            background-color: $Grey20;

            &__icon {
              background-color: $Divider;

              svg {
                color: $Type-Disabled;
                fill: $Type-Disabled;
              }
            }

            &:hover {
              cursor: auto;
              text-decoration: none;
              background-color: $Grey20;
            }
          }
        }

        &.loading {
          .filter-item__button {
            color: $Type-Disabled;
            background-color: $Grey20;

            &__icon {
              svg {
                opacity:0;
                top: -24px;
              }
            }
          }
        }

        input {
          position: absolute;
          z-index: -1;
          margin-left: 10px;

          &:focus + label.filter-item__button {
            outline: 2px solid $Focus;
            box-shadow: 0 0 0 0.25rem rgba(1, 51, 102, 0.25);
          }
        }

        .tooltip-info {
          margin-left: 8px;
          color: $White;
          background-color: $Type-Secondary;
          padding: 0 5px;
          border-radius: 0.5rem;
          font-size: 0.625rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

}
