@import "../../styles/variables.scss";

.share-url {
  .copy-btn {
    margin-left: 1rem;
    padding: .4rem .75rem;
    border-radius: 4px;
    background: #EDEBE9;
    border: none;
    color: #292929;
    transition: 0.3s;

    &:hover {
      background: #F2F2F2;
    }

    svg {
      margin-right: 0.4rem;
    }
  }
}
