@import "../../styles/variables.scss";

.share-url {
  .copy-btn {
    border-radius: 4px;
    border: none;
    color: $Type-Primary;
    transition: 0.3s;
    font-size: 0.75rem;
    font-weight: 700;
    background: none;
    white-space: nowrap;
    padding: 8px 8px;

    svg {
      margin-right: 0.4rem;
    }
  }
}

.popup {
  &--camera {
    .copy-btn {
      color: $Blue90;
      &:hover {
        background: lighten($BC-Blue, 70%);
      }
    }
  }
  &--event {
    &:not(.roadConditions) {
      &.major, &.closures, &.closure {
        .copy-btn {
          color: $Red-dark;
          &:hover {
            background: lighten($Red-dark, 50%);
          }       
        }
      }
    }
    &.minor {
      .copy-btn {
        color: $Gold110;
        &:hover {
          background: lighten($Gold110, 60%);
        }      
      }
    }
    &.chainUps {
      .copy-btn {
        color: $Type-Primary;
        &:hover {
          background: lighten($Chainups, 20%);
        }      
      }
    }
  }
  &--ferry {
    .copy-btn {
      color: $Green;
      &:hover {
        background: lighten($Success, 60%);
      }    
    }
  }
  &--weather {
    .copy-btn {
      color: $Type-Primary;
      &:hover {
        background: lighten($Type-Primary, 70%);
      }    
    }
    &.advisory-issued {
      .copy-btn {
        color: $Gold110;
      }
    }
  }

  &--reststop {
    .copy-btn {
      color: $Type-reststop;
      &:hover {
        background: lighten($Type-reststop, 60%);
      }    
    }

    &.closed {
      .copy-btn {
        color: $Red-dark;
        &:hover {
          background: lighten($Red-dark, 50%);
        }      
      }
    }
  }
  &--wildfire {
    .copy-btn {
      color: $Red-dark;
      &:hover {
        background: lighten($Red-dark, 50%);
      }    
    }
  }
  &--advisories {
    .copy-btn {
      color: $Advisory-Text;
      &:hover {
        background: lighten($Advisory-Text, 50%);
      }    
    }
  }
}

