@import "../../styles/variables.scss";

.share-url {
  .copy-btn {
    padding: .4rem .75rem;
    border-radius: 4px;
    background: #EDEBE9;
    border: none;
    color: #292929;
    transition: 0.3s;

    &:hover {
      background: #F2F2F2;
    }

    svg {
      margin-right: 0.4rem;
    }
  }
}

.popup {
  &--camera {
    .copy-btn {
      background: darken($Surface-camera, 8%);

      &:hover {
        background: darken($Surface-camera, 15%);
      }
    }
  }
  &--event {
    &.major, &.closures {

    }
    &.minor {

    }
  }
  &--ferry {

  }
  &--weather {

  }
  &--reststop {

  }
}
