@import "../../styles/variables.scss";

.advisories-accordion {
  position: absolute;

  @media (max-width: 767px) {
    width: 100%;
    top: 5rem;
    padding: 0px 15px;
  }

  @media (min-width: 768px) {
    width: 20%;
    top: 2rem;
    left: 40%;
  }

  .accordion-header {
    font-size: 0.75em;

    .accordion-button {
      font-size: 1em;
      padding: 6px 12px;
    }
  }

  .accordion-body {
    font-size: 0.75em;

    ul {
      margin-bottom: 4px;
    }
  }
}
