@import "../../styles/variables.scss";

.advisories-accordion {
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: calc(100% - 32px - 6rem);

  @media (max-width: 768px) {
    width: calc(100% - 32px - 2rem);
    position: relative;
  }

  @media (min-width: 992px) {
    left: calc(4rem + 360px );
    width: calc(100% - 360px - 224px - 8rem);
    min-width: 400px;
  }

  .accordion-header {
    font-size: 0.75rem;

    .accordion-button {
      font-size: 1rem;
      padding: 6px 12px;
    }
  }

  .accordion-body {
    font-size: 0.75rem;

    ul {
      margin-bottom: 4px;
    }
  }
}
