@import "../../styles/variables.scss";

.advisories-on-map {
  position: relative;
  top: 1rem;
  padding: 0 1rem;
  width: fit-content;
  z-index: 16;

  .btn.advisories-on-map__btn {
    background: #FAF9F8;
    width: fit-content;
    font-size: 0.875rem;
    font-weight: 700;
    color: #584215;
    padding: 0.385rem 0.75rem;
    border-radius: 5px;
    border: 1px solid #584215;

    &:active, &.active, &.open {
      color: white;
      background: #584215;

      .advisories-count {
        color: #584215;
        background: white;
      }
    }

    &:focus, &.focus {
      outline: $BC-Yellow;
    }

    svg {
      margin-right: 8px;
    }

    .advisories-count {
      margin: auto auto;
      margin-left: 12px;
      font-size: 0.625rem;
      color: #FAF9F8;
      background: #584215;
      padding: 2px 6px;
      border-radius: 4px;
      vertical-align: middle;
    }
  }

  &__content {
    margin-top: 6px;
    background: #FAF9F8;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 1.937px 4.358px 0px rgba(0, 0, 0, 0.13), 0px 0.363px 1.089px 0px rgba(0, 0, 0, 0.10);
    padding: 1rem;
    position: relative;

    @media (min-width: 768px) {
      width: 360px;
    }

    h4 {
      color: #584215;
    }

    .close-advisories {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0;
      min-width: 0;
      line-height: 1.25rem;
      height: auto;
      background: none;
      border: none;
      font-size: 1rem;
    }
    .advisories-list {
      margin-top: 12px;

      .advisory-li {
        padding: 20px 0 16px;
        font-size: 0.875rem;
        margin-bottom: 0;
        width: 100%;

        & + .advisory-li {
          border-top: 1px solid $Divider;
        }

        &:hover {
          text-decoration: underline;
        }

        .advisory-li-title {
          color: #584215;
          font-size: 0.875rem;
        }
      }
    }
  }
}
