@import "../../styles/variables.scss";

ul.advisories-list {
  list-style-type: none;
  padding-left: 0;

  li.advisory-li {
    cursor: pointer;
    width: fit-content;
    margin-bottom: 1rem;

    &:hover {
      .advisory-li-title {
        text-decoration: underline;
      }
    }

    .advisory-li-title {
      color: $Type-Link;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 0.25rem;

      @media (min-width: 992px) {
        font-size: 1.25rem;
      }
    }
  }

  .timestamp-container {
    display: flex;

    .advisory-li-state, .friendly-time, .formatted-date {
      margin-left: 0.5ch;
      font-size: 1rem;
      line-height: 1.5;
    }

    .friendly-time, .formatted-date {
      margin-left: 0.5h;
    }
  }

  .timestamp-container--mobile {
    display: none;
  }
}

.empty-advisory-display {
  h2 {
    margin-bottom: 2rem;
    color: $BC-Blue;
  }
}