@import "../../styles/variables.scss";

.exit-survey {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 365px;
  background-color: #F1F8FE;
  padding: 0.75rem;
  border: 1px solid #053662;
  border-radius: 4px;
  box-shadow: 0px 1.937px 4.358px 0px rgba(0, 0, 0, 0.13), 0px 0.363px 1.089px 0px rgba(0, 0, 0, 0.10);
  z-index: 22;
  
  &.mobile {
    position: relative;
    bottom: inherit;
    left: inherit;
    transform: none;
    width: 100%;
    border: none;

    .content__text {
      margin: 0 0 0 1rem;
    }
  }

  .exit-survey-close-btn {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    padding: 0;
    margin-bottom: 0;
    font-size: 0.75rem;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }

  .content {
    display: flex;

    &__icon {
      display: flex;
      align-items: center;

      .square-icon {
        width: 48px;
        height: 48px;
        background-color: $BC-Blue;
        color: #D8EAFD;
        border-radius: 8px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__text {
      margin: 0 2rem 0 1rem;

      p {
        font-size: 0.875rem;

        &:first-of-type {
          margin-bottom: 0;
        }

        &.feedback {
          color: #053662;
        }
      }
    }
  }
}
