Django==5.2.15
django-allauth==65.18.0
django-environ==0.14.0
djangorestframework==3.17.1
djangorestframework-gis==1.2.1
django-cors-headers==4.9.0
django-filter==25.2
drf-recaptcha==4.0.3
whitenoise==6.12.0
httpx==0.28.1
huey==3.0.3
markdown==3.10.2
psycopg==3.3.4
redis==8.0.1
wagtail==7.4.2
wagtail-modeladmin==2.4.0
django-email-log==1.5.0
pyodbc==5.3.0
boto3==1.43.36
aio-pika==9.6.2
pydantic==2.13.4
pillow==12.2.0
timezonefinder==8.2.4
pytz==2026.2
click==8.4.2
aiofiles==25.1.0
zipstream==1.1.4
drf-spectacular==0.29.0
drf-spectacular-sidecar==2026.6.1
mssql-django==1.7.3
django-debug-toolbar==7.0.0
django-prometheus==2.5.0
django-redis==7.0.0
PyJWT==2.13.0
cryptography==49.0.0
django-http-compression[brotli]==1.4.0
kubernetes==36.0.2
gunicorn==26.0.0
