# file based env values
.env

# Build files
*.pyc
*.pyo

# IDE config files
.idea
*.code-workspace

# Virtual environments
.venv

# Python coverage file
.coverage

src/media/
src/static/
infrastructure/yaml
