@import "../../../styles/variables";

.notifications-event-types {
  width: 100%;
  margin-top: 6px;

  @media (min-width: 432px) {
    column-count: 2;
    column-gap: 12px;
  }

  .notifications-target {
    break-inside: avoid;
    page-break-inside: avoid; // For older browsers
  }
}
