@import "../../../styles/variables";
.notifications-section {
  width: 100%;

  .notifications-targets {
    width: 100%;
    margin-top: 6px;
  
    @media (min-width: 576px) {
      column-count: 2;
      column-gap: 12px;
    }
  }
}

.specific-time-dates {
  padding-left: 24px;
  flex-direction: column;
  border-left: 2px solid $BC-Blue;

  .info-row {
    margin-left: 0;
    margin-right: 0;

    &:first-of-type {
      margin-top: 8px;
    }

    &__label {
      padding: 0;

      .bold {
        color: $Grey80;
        margin-bottom: 4px;
      }
      select {
        margin-bottom: 8px;
        width: fit-content;
        font-weight: 700;
      }
    }


    &__data {
      padding-left: 0;
    }
  }

  .time-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    p {
      margin-bottom: 0;
      margin-right: 24px;
    }

    & +  .info-row.for-time-row {
      margin-top: 4px;
    }
    
  }

  .date-row {
    .form-select {
      border: none;
      padding-left: 0;
    }
  }

  .tz-note {
    padding-left: 0;
    font-size: 0.75rem;
    color: $Grey80;
  }
}

.notifications-dates {
  width: 100%;

  @media (min-width: 768px) {
    column-count: 4;
  }
}

// Time picker and date picker
vaadin-time-picker, vaadin-date-picker {
  --vaadin-input-field-background: white;
  --vaadin-input-field-placeholder-color: #A19F9D;

  @media (max-width: 432px) {
    width: 100%;
  }

  &::part(input-field) {
    border: 1px solid $Input-border;
  }

  input {
    font-weight: 400;
    font-size: 0.875rem;
  }
}

vaadin-time-picker-overlay, vaadin-date-picker-overlay  {
  z-index: 10000;
}

.pickerError {
  --vaadin-input-field-background: #FFEEEE;
}
