@import "../../../../styles/variables";

.popup {
  // Local weather popup
  &--road-weather {
    .popup__title {
      background-color: #ECEAE8;
      border-top: 4px solid $Type-Primary;

      .name {
        color: $Type-Primary;
      }

      .sub-name {
        font-size: 0.875rem;
        color: $Grey70;
      }

      &__icon {
        background-color: $Type-Primary;
        color: white;
      }
    }

    .popup__content {
      p {
        margin-bottom: 0.4rem;
      }

      &__title {
        margin: 1rem 1rem 0;
        padding-bottom: 1rem;

        .name {
          color: $Type-Primary;
          font-size: 2rem;
        }

        .description {
          font-size: 0.875rem;
        }

        .friendly-time {
          margin-top: 0.5rem;

          &-text {
            color: $Grey70;
            font-size: 0.875rem;
          }
        }
      }

      &__description {
        & > div {
          padding-bottom: 1rem;
        }
        .temperatures {
          display: flex;
          justify-content: space-around;
          text-align: center;

          .temperature {
            .label {
              color: $Grey70;
            }

            .data {
              font-size: 4rem;
              font-weight: 400;
            }
          }
        }
      }
    }

    .popup__footer {
      padding: 1rem;

      p {
        font-size: 0.875rem;
        color: $Grey70;
        text-align: center;
        margin-bottom: 0.4rem;
      }
    }
  }

  .data-card-container {
    .container-label {
      font-size: 1rem;
      font-weight: 700;
    }

    .hourly-forecast {
      .data-card__row:not(:first-child) {
        padding-top: 0.4rem;
      }

      .data-card__row {
        margin-top: 0;
        display: flex;
        justify-content: space-between;

        .friendly-time-text {
          font-size: 0.875rem;
          color: $Grey70;
        }

        .temperature {
          font-size: 0.875rem;
          font-weight: 700;
          color: #2D2D2D;
        }
      }
    }
  }
}
