@import "../../../../styles/variables";

.popup {
  // Regional Weather popup
  &--weather--regional {
    .section-title {
      font-size: 1rem;
      font-weight: 700;
      text-align: left;
    }

    .popup__title {
      background-color: $Grey30;

      .name {
        color: $Type-Primary;
      }
    }

    .popup__advisory, .popup__info {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      background-color: $Gold60;
      color: $Gold110;
      padding: 0.5rem 0.875rem;
      font-size: 0.875rem;

      .event {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        
        &:only-child {
          padding: 0.5rem 0;
        }

        p {
          line-height: 1.3;
        }

        svg {
          margin-right: 0.5rem;
        }
      }

      svg {
        margin-right: 4px;
      }

      p {
        margin: 0;
      }

      .advisory-title {
        font-size: 0.875rem;
        font-weight: 700;
        color: $Gold110;
        margin-right: auto
      }

      .link {
        min-width: max-content;
        padding-left: 0.25rem;
        margin-left: auto
      }
    }

    .popup__info {
      background-color: $Blue20;
      flex-direction: column;
      color: $Type-Link;

      .event {
        justify-content: space-between;

        &:only-child {
          padding: 0;
          border: 1px solid red;
        }

        + div {
          padding-bottom: 0.5rem;
        }

        div {
          display: flex;
          flex-direction: row;
          align-items: center;

          svg, p {
            color: $BC-Blue;
          }
        }

        .expand-toggle {
          cursor: pointer;
          color: $Type-Link;
        }
      }
    }

    .popup__content {
      display: flex;
      flex-direction: column;
      height: 100%; 
      overflow-x: hidden;

      p {
        margin-bottom: 0;
      }

      &__title {

        .friendly-time {
          margin: 0 auto 1rem;
          &-text {
            color: $Type-Secondary;
            font-size: 0.75rem;
          }
        }
      }

      &__description {
        text-align: center;
        padding-top: 0;

        .temp-and-icon {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1.5rem;

          p, .weather-icon {
            flex: 1;
          }
        }

        .weather-icon {
          font-size: 7.375rem;
          color: lighten(saturate($Type-Primary, 0.47), 40.59)

        }

        .weather {
          font-size: 0.875rem;
        }

        .temperature {
          font-size: 5.5rem;
        }
      }

      &__forecasts {
        flex-grow: 1;
      }

      &__additional {
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: auto;

        p {
          text-align: center;
          color: $Grey80;
        }

        .label {
          line-height: 2rem;
        }
      }
    }
  }

  // Common styles for local weather and Regional weather
  .data-card {
    margin: 0.75rem 0;
    padding: 0.75rem;
    border-radius: 8px;
    box-shadow: 0px 6.4px 14.4px 0px rgba(0, 0, 0, 0.13), 0px 1.2px 3.6px 0px rgba(0, 0, 0, 0.10);

    &__row {
      display: flex;

      & + .data-card__row {
        margin-top: 0.75rem;
        padding-top: 0.75rem;
        border-top: 1px solid $Divider;
      }

      &:not(.group) {
        .data-icon {
          align-self: top;
        }
      }

      .data-icon {
        margin-right: 0.75rem;
        color: $Grey80;
      }

      .data-group {
        flex: 1 0;

        &__row {
          display: flex;
        }
      }
    }

    .label, .data {
      font-size: 0.875rem;
      margin-bottom: 0;
    }

    .label {
      text-align: left;
      color: $Grey80;
    }

    .data {
      text-align: right;
      margin-left: auto;
      min-width: 80px;
      color: $Type-Primary;
      font-weight: 700;
    }
  }
}
