@import "../../../styles/variables";

.camera-orientations-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (min-width: 1440px) {
    flex: 1 1 33%;
  }

  .header {
    display: flex;
    align-items: center;
    background-color: $Blue10;
    padding: 12px;
    border-radius: 8px;

    img {
      margin-right: 8px;
    }

    .title {
      font-weight: 700;
      color: $BC-Blue
    }
  }

  .rotate-direction-btn {
    background: none;
    border: none;
    padding: 0;
    @media (max-width: 576px) {
      font-size: 0.875rem;
    }
  }

  .main-content {
    @media (min-width: 1200px) {
      height: fit-content;
      overflow-y: scroll; 
      max-height: 388px;   
    }

    &.camCount1 {
      column-count: unset;
      overflow-y: hidden;

      @media (min-width: 1440px) {
        column-count: 2;
        column-gap: 12px;
        padding: 8px 0;
        overflow-y: initial;
      }
    }

    &.camCount2 {
      column-count: 2;
      overflow-y: hidden;
    }

    &.camCount3 {
      column-count: 3;
      overflow-y: hidden;
    }

    &.camCount2, &.camCount3 {
      @media (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: flex-start;

        .orientation + .orientation {
          margin-left: 12px;
        }
      }

      @media (min-width: 768px) {
        column-count: unset;
      }

      @media (min-width: 1440px) {
        column-count: 2;
        column-gap: 12px;
        padding: 8px 0;
      }
    }

    @media (min-width: 1440px) {
      display: flex;
      flex-flow: wrap;
      column-count: unset;
      height: auto;
      overflow-y: initial;
      gap: 12px;
    }

    .orientation {
      position: relative;
      height: 132px;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      align-content: center;
      justify-content: center;
      border: 3px solid transparent;
      opacity: 1;

      @media (min-width: 768px) {
        width: fit-content;
        height: 160px;  // Crop off 20px timestamp from the bottom

        &:nth-child(odd) {
          margin-right: 12px;
        }
      }

      @media (min-width: 992px) {
        width: 170px;
        height: 130px;
      }

      @media (min-width: 1200px) {
        width: 100%;
        height: 120px;

        &:nth-child(odd) {
          margin-right: 0;
        }
      }
      
      @media (min-width: 1440px) {
        width: calc(50% - 6px) ;
        margin-right: 0;
      }

      &.current {
        border: 3px solid $Focus;
      }

      img {
        width: 100%;
        height: calc(100% + 12px);
        object-fit: cover;
        clip-path: inset(0 0 5px 0); /* Crops timestamp */
      }
    }

    &.camCount1 .orientation {
      width: fit-content;
    }

    &.carousel-container--camera-orientations {
      position: relative;

      .carousel-button {
        position: absolute;
        top: calc(50% - (35px / 2));

        border: 1px solid $Input-border;
        border-radius: 2rem;

        background: #FFFFFF;
        color: $Type-Primary;
        box-shadow: 0px 3.2px 7.2px 0px #00000021, 0px 0.6px 1.8px 0px #0000001A;

        &:focus, &:active, &:hover {
          background-color: $Grey40;
          color: $Type-Primary;
          border: 1px solid $Input-border;
        }

        &.next {
          right: 4px;
          animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
        }

        &.prev {
          left: 4px;
          animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
        }
      }
    }
  }
}
