
.travel-advisory-panel {
  padding: 16px;
  background-color: #f9f1c6;
  border: 1px solid #faebcc;
  border-radius: 4px;
  color: #6c4a00;
  box-sizing: border-box;
  position: absolute;
  font-weight: 700;
  width: 228px;
  top: 16px;
  right: 0;
  cursor: pointer;
  z-index: 1001;
}

.travel-advisory-panel-full {
  padding: 24px;
  background-color: #f9f1c6;
  border: 1px solid #faebcc;
  color: #6c4a00;
  box-sizing: border-box;
  position: absolute;
  top: 1rem;
  right: 0;
  width: 30%;
  height: 100%;
  text-align: left;
  z-index: 1001;
}

.travel-advisory-panel-full-body {
  position: relative;
}

.travel-advisory-panel-content {
  height: 100%;
  overflow-y: auto;
}

.travel-advisory-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.travel-advisory-header h4 {
  margin-top: 10px;
  margin-bottom: 8px;
}

.travel-advisory-header-count {
  margin-left: 20px;
  display: inline-block;
}

.travel-advisory-item {
  margin-top: 30px;
  border-bottom: 1px solid #6c4a00;
  padding-bottom: 12px;
}
.travel-advisory-item:last-child {
  border: none;
}
.travel-advisory-title {
  margin: 10px 0;
  font-weight: bold;
}

.travel-advisory-desc {
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.travel-advisory-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  min-width: 0;
  line-height: 1.25rem;
  height: auto;
  background: none;
  border:none;
  font-size: 1.4rem;
  cursor: pointer;
}
.fa-triangle-exclamation {
  margin-right: 12px;
}

.travel-advisory-panel-full .fa-xmark {
    color: #6c4a00;
}

@media screen and (max-width: 729px) {
  .travel-advisory-panel {
    width: 100%;
    top: 16px;
    left: 0;
    right: initial;
    border-radius: 0;
  }

  .travel-advisory-panel-full {
    width: 100%;
    height: 100%;
    padding: 16px;
    top: 17px;
    right: initial;
  }
}
