@import "../styles/variables.scss";

button.btn.open-filters {
  svg {
    margin-left: 8px;
  }

  &.open {
    background: $Type-Link;
    color: #FFFFFF;
  }

  // &:focus {
  //   border-color: #8099b3;
  //   outline: 0;
  //   box-shadow: 0 0 0 0.25rem rgba(1, 51, 102, 0.25);
  // }
}

.filters {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: calc(100% - 32px);
  border-radius: 4px;
  background-color: $Surface-tinted;
  box-shadow: 0px 1.937px 4.358px 0px rgba(0, 0, 0, 0.13), 0px 0.363px 1.089px 0px rgba(0, 0, 0, 0.10);
  padding: 1rem;
  z-index: 21;
  overflow-y: scroll;

  @media (min-width: 768px) {
    position: absolute;
    top: 4.4375rem;
    bottom: initial;
    left: initial;
    right: 1rem;
    width: 300px;
    height: auto;
  }

  .filters-title {
    margin-bottom: 8px;
  }

  button.close-filters {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    min-width: 0;
    line-height: 1.25rem;
    height: auto;
    background: none;
    border:none;
    font-size: 1rem;
  }

  .filters-list {
    padding-top: 16px;

    .filter-group {
      &__title {

        font-weight: 700;
        padding-bottom: 8px;
        border-bottom: 1px solid $Divider;
      }

      & + .filter-group {
        margin-top: 24px;
      }

      .filter-item {
        display: flex;
        align-items: center;

        & + .filter-item {
          margin-top: 8px;
        }

        &--closures {
          svg {
            font-size: 1.25rem;
          }
        }

        label {
          display: flex;
          align-items: center;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        &.checked {
          .filter-item__icon {
            background-color: $Type-Link;
            border-color: $Type-Link;

            svg {
              color: $White;
            }

            &__path {
                fill: white;
            }
          }
        }

        &.disabled {
          .filter-item__icon {
            background-color: $Divider;
            border-color: $Divider;

            svg {
              color: $Type-Disabled;
            }

            &__path {
              fill: $Type-Disabled;
            }
          }
          label {
            color: $Type-Disabled;

            &:hover {
              cursor: auto;
              text-decoration: none;
            }
          }
        }

        &__icon {
          margin-right: 8px;
          height: 36px;
          width: 36px;
          border-radius: 18px;
          border: 1px solid;
          background-color: $White;
          border-color: $Type-Link;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            color: $Type-Link;
          }

          &__path {
            fill: $Type-Link;
          }
        }

        input {
          position: absolute;
          z-index: -1;
          margin-left: 10px;
        }

        .tooltip-info {
          margin-left: 8px;
          color: $White;
          background-color: $Type-Secondary;
          padding: 0 6px;
          border-radius: 18px;
          font-size: 0.75rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

}
