@import "../styles/variables.scss";

.friendly-time {
  text-decoration: underline;
  cursor: pointer;
  position: relative;

  &__tooltip {
    visibility: hidden;
    word-wrap: break-word;
    background-color: $Grey90;
    color: $White;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    width: fit-content;
    white-space: nowrap;
    z-index: 1;
    position: absolute;
    top: 0;
    left: -10px;
    transform: translate(-100%, -25%);
    margin-right: 7px;

    @media (min-width: 576px) {
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      margin-top: 7px;
    }

    &:before {
      content: "";
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid $Grey90;
      position: absolute;
      top: 7px;
      left: 100%;
      transform: translate(0, 25%);

      @media (min-width: 576px) {
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-bottom: 7px solid $Grey90;
        top: initial;
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, 0);
        margin-left: 7px;
      }
    }

    &.showTooltip {
      visibility: visible;
    }
  }
}