@import "../styles/variables.scss";
@import '~ol/ol.css';

.map-wrap {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;

  @media (min-width: 992px) {
    top: 58px;
  }

  .map {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);

    @media (min-width: 992px) {
      height: calc(100vh - 58px);
    }

    .ol-popup {
      display: none;
      position: absolute;
      background-color: white;
      box-shadow: 0 1px 4px rgba(0,0,0,0.2);
      padding: 0px 0px 2px 0px;
      border-radius: 4px;
      border: 1px solid #cccccc;
      bottom: 20px;
      left: -50px;
      min-width: 285px;
      cursor: default;
      z-index: -1;
    }

    .ol-popup:after, .ol-popup:before {
      top: 100%;
      border: solid transparent;

      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .ol-popup:after {
      border-top-color: white;
      border-width: 10px;
      left: 48px;
      margin-left: -10px;
    }

    .ol-popup:before {
      border-top-color: #cccccc;
      border-width: 11px;
      left: 48px;
      margin-left: -11px;
    }

    .ol-popup-closer {
      font-size: 11px;
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      color: #FFFFFF;
    }

    .ol-popup-closer:after {
      content: "✖";
    }

    .ol-popup-closer:hover {
      color: #808080;
    }

    .ol-popup-content {
      max-width: 100%;
      resize: horizontal;
      overflow: hidden;
    }

    .ol-zoom .ol-zoom-out {
      margin-top: 200px;
    }

    .ol-zoomslider {
      background-color: $White;
      top: auto;
      bottom: calc(200px - 20px + 8px);
      bottom: 2rem;
      left: auto;
      right: 2rem;
      width: 40px;
      border-radius: 20px;

      &:hover {
        background-color: $White;
      }

      &-thumb {  
        height: 30px;
        width: 30px;
        margin: 0 auto;
        filter: none;
        background-color: $Focus;
        border-radius: 15px;
      }
    }

    a.ol-zoomslider-handle:hover {
      background-color: rgba(14, 97, 252, 0.578);
    }
  }

  .map-btn {
    background: $White;
    color: $Type-Link;
    position: absolute;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 700;
    height: 36px;
    border-radius: 18px;
    border-color: $Type-Link;
    box-shadow: 0px 1.9368422031402588px 4.3578948974609375px 0px #00000021;

    &:hover {
      background: $BC-Blue-Alt;
      color: $White;
    }

    &.map-view, &.cam-location {
      svg {
        margin-right: 8px;
      }
    }

    &.map-view {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    &.cam-location {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
    }

    &.zoom-in, &.zoom-out, &.open-layers {
      height: 40px;
      width: 40px;
      border-radius: 20px;
    }

    &.zoom-in, &.zoom-out {
      border: none;
    }

    &.zoom-in{
      position: absolute;
      bottom: calc(200px - 40px + 2rem);
      right: 2rem;
    }

    &.zoom-out {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
    }
  }
}
