@import "../styles/variables.scss";
@import '~ol/ol.css';

// Z-index
.ol-overlaycontainer-stopevent {
  z-index: 20 !important;

  .ol-overlay-container {
    z-index: 10;
  }

  .ol-scale-line {
    z-index: 5;
  }
}

.zoom-btn, .my-location {
  z-index: 5;
}

.map-wrap {
  position: absolute;
  top: 58px;
  bottom: 0;
  width: 100%;

  @media (min-width: 992px) {
    top: 58px;
  }

  .map {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;

    .ol-overlay-container:not(:has(> img)) {
      //overriding openlayers dynamic styles for mobile layout except for having img as a direct child
      @media (max-width: 575px) {
        position: fixed !important;
        bottom: 0 !important;
        transform: none !important;
      }

      // overlay content styling moved to App.scss
    }

    .ol-zoom .ol-zoom-out {
      margin-top: 200px;
    }

    .ol-scale-line {
      background: var(--ol-partial-background-color);
      border-radius: 4px;
      bottom: 1.8rem;
      left: auto;
      right: 6rem;
      padding: 2px;
      position: absolute;

      @media (max-width: 575px) {
        right: 2rem;
      }
    }

    .ol-scale-line-inner {
      border: 1px solid var(--ol-subtle-foreground-color);
      border-top: none;
      color: var(--ol-foreground-color);
      font-size: 0.75rem;
      text-align: center;
      font-family: 'BCSans', serif;
      margin: 1px;
      will-change: contents, width;
      transition: all 0.25s;
    }
  }

  .map-btn {
    background-color: $Surface-tinted;
    color: $Type-Link;
    position: absolute;
    margin-bottom: 0;
    font-size: 0.75rem;
    font-weight: 700;
    height: auto;
    border-radius: 4px;
    border: 1px solid $Type-Link;
    box-shadow: 0px 1.9368422031402588px 4.3578948974609375px 0px #00000021;

    &:hover {
      background: $Type-Link;
      color: $White;
    }

    &.map-view, &.cam-location {
      svg {
        margin-right: 8px;
      }
    }
    &.map-view, &.my-location {
      svg {
        margin-right: 8px;
      }
    }

    &.map-view {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    &.cam-location {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
    }

    &.my-location {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
    }

    &.open-layers {
      height: 32px;
      width: 32px;
      border-radius: 4px;
    }
  }

  .zoom-btn {
    background-color: $Surface-tinted;
    color: $Type-Link;
    position: absolute;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 700;
    height: auto;
    border-radius: 6px;
    border: 1px solid $Type-Link;
    box-shadow: 0px 1.9368422031402588px 4.3578948974609375px 0px #00000021;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;

    //Hide zoom slider on touch devices
    @media (max-width: 575px) {
      display: none;
    }

    & > .btn {
      margin-bottom: 0;
      background-color: $Surface-tinted;
      color: $Type-Link;
      border: none;
      border-radius: 0;
      padding: 4px 8px;

      &:hover {
        background: $Type-Link;
        color: $White;
      }

      &.zoom-in {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &.zoom-out {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .zoom-divider {
      margin: 0 10px;
      border-bottom: 1px solid $Divider;
    }
  }
}
