@import "../../styles/variables.scss";

.event-card {
  margin-bottom: 40px;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $BC-Blue;
    color: $White;
    padding: 8px;

    .route {
      font-weight: 700;
    }
  }
  &__details {

    & > div {
      display: flex;

      .content {
        border-top: 1px solid $Divider;
        padding: 8px;
        flex-grow: 1;
      }

      &.map, &.location {
        .content {
          border-top: none;
        }
      }
    }

    .header {
      color: $BC-Blue;
      background-color: $BC-Blue-Light;
      width: fit-content;
      flex: 0 0 100px;
    }

    .map {
      .content {
        border-bottom: none;
        display: flex;
        justify-content: center;
        
        .viewMap-btn {
          font-size: 1rem;
        }
      }
    }
  }

  &.major, &.closure {
    .event-card__details {
      .type {
        .header, .content {
          color: $Type-status-red;
        }

        .content {
          font-weight: 700;
          text-transform: capitalize;

          svg {
            color: $Type-status-red;
          }
        }
      }

      .next-update, .last-update {
        white-space: nowrap;
      }
    }
  }
}
