@import "../../styles/variables.scss";

table {
  font-size: 0.875rem;

  thead {
    background-color: $BC-Blue-Light;
    tr {
      th {
        font-weight: 400;
        color: $BC-Blue;

        .cursor-pointer {
          white-space: nowrap;
          cursor: pointer;

          svg {
            margin-left: 8px;
          }
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        background-color: $Grey10;
      }
      &.major, &.closure {
        background-color: $Surface-status-red;

        td.severity {
          color: $Type-status-red;
          font-weight: 700;
        }
      }
      &:hover {
        background-color: $BC-Blue-Light;
        cursor: pointer;
      }
      td {
        color: $Type-Primary;

        &.event-type {
          text-align: center;
        }

        &.severity, &.direction {
          text-transform: capitalize;
        }

        svg {
          color: $BC-Blue;
        }
      }
    }
  }

  tr {
    border-bottom: 1px solid $Divider;
  }

  th, td {
    padding: 16px;
  }
}

.delay-icon-img {
  width: 24px;
}

tr.closure td.display_category .delay-icon-img {
  width: 20px;
}

td.last_updated .friendly-time-text {
  font-size: 0.875rem;
}

.loading {
  &.display_category {
    width: 5.6192%
  }

  &.severity {
    width: 9.1352%
  }

  &.route_at {
    width: 8.5614%
  }

  &.direction {
    width: 8.1593%
  }

  &.description {
    width: 50.1690%
  }

  &.last_updated {
    width: 12.9110%
  }

  &.map {
    width: 5.4422%
  }
}
