@import "../../styles/variables.scss";

table {
  font-size: 0.875rem;
  width: 100%;

  thead {
    background-color: $BC-Blue-Light;
    tr {
      th {
        font-weight: 400;
        color: $BC-Blue;

        .cursor-pointer {
          white-space: nowrap;
          cursor: pointer;

          svg {
            margin-left: 8px;
          }
        }
      }
    }
  }

  tbody {
    tr {
      &.major, &.closure {
        background-color: $Surface-status-red;

        .typeDisplay {
          color: $Type-status-red;
          font-weight: 700;
        }
      }
      &:hover {
        background-color: $BC-Blue-Light;
        cursor: pointer;
      }

      td {
        color: $Type-Primary;

        &.event-type {
          text-align: center;
        }

        &.severity, &.direction {
          text-transform: capitalize;
        }

        svg {
          color: $BC-Blue;
        }
      }
    }

    .headerRow {
      &:hover + tr {
        background-color: $BC-Blue-Light;
      }

      &:has(+ tr:hover) {
        background-color: $BC-Blue-Light;
      }

      td {
        padding-bottom: 0;

        .roadName {
          color: #053662;
          size: 18pt;
          font-weight: bold;
        }

        .directionDisplay {
          size: 14pt;
        }

        p {
          margin-bottom: 5px;
        }
      }
    }

    .dataRow {
      border-bottom: 1px solid $Divider;

      td {
        padding-top: 0;
      }
    }
  }

  th, td {
    padding: 16px;
  }
}

.delay-icon-img {
  width: 24px;
}

tr.closure td.display_category .delay-icon-img {
  width: 20px;
}

td.last_updated .friendly-time-text {
  font-size: 0.875rem;
}

.loading {
  &.display_category {
    width: 5.6192%
  }

  &.location_description {
    width: 9.5729%
  }

  &.closest_landmark {
    width: 18.0560%
  }

  &.optimized_description {
    width: 17.7962%
  }

  &.last_updated {
    width: 8.7687%
  }

  &.next_update {
    width: 9.8318%
  }
}
