fullnameOverride: django
nameOverride: django

replicaCount: 1

image:
  repository: ghcr.io/bcgov/drivebc-django
  tag: latest

deployment:
  resources:
    requests:
      cpu: 50m
      memory: 250Mi
  env:
    postgresSecret: drivebc-pguser-drivebc
    djangoConfigMap: drivebc-django
    djangoSecret: drivebc-django

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 75


mediapvc:
  storage: 1Gi

apppvc:
  storage: 2Gi

podDisruptionBudget: 
  enabled: false #If you have more than 1 replica, you can set this to true.
  minAvailable: 1 