@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow-Italic.woff2') format('woff2'),
        url('ArialNarrow-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}