@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow-BoldItalic.woff2') format('woff2'),
        url('ArialNarrow-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}