@font-face {
    font-family: 'Aboriginal Sans';
    src: url('AboriginalSans-Italic.woff2') format('woff2'),
        url('AboriginalSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}