@font-face {
    font-family: 'Aboriginal Sans';
    src: url('AboriginalSans-Bold.woff2') format('woff2'),
        url('AboriginalSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}