@import "../../styles/variables.scss";
@import '~ol/ol.css';

.report-page {

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100 - 58px);

    &:has(.side-panel.open) {
      position: absolute;
    }
  }

  .page-header__content, .page-subtitle, .report-map-wrap {
    transition: all 0.20s ease-in-out;

    & > h1, p {
      height: auto;
      transition: all 0.20s ease-in-out;
    }
  }

  @media (max-width: 767px) {
    &:has(.side-panel.open), &:has(.report-map-container.expanded) {
      .page-header__content, .page-subtitle {
        grid-template-rows: 0fr;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        transition: all 0.20s ease-in-out;

        div, h1, p {
          overflow: hidden;
          margin: 0;
          height: 0;
          transition: all 0.20s ease-in-out;
        }
      }

      .report-map-wrap {
        height: calc(var(--vh, 1vh) * 100 - 58px);
      }
    }

    &:has(.report-map-container.expanded) {
      .page-header .container {
        grid-template-rows: 0fr;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        transition: all 0.20s ease-in-out;

        .back-link-wrap {
          overflow: hidden;
        }
      }
    }

    .page-header .container, .page-header__content, .page-subtitle {
      display: grid;
      grid-template-rows: 1fr;
    }
  }

  .page-header {
    .back-link-wrap {

      .back-link {
        font-weight: 700;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 10px;

        svg {
          margin-right: 8px;
        }
      }
    }

    .page-title {
      margin-top: 10px;
    }

    .page-description {
      max-width: 550px;
      margin-bottom: 0;
    }
  }

  // Z-index
  .ol-overlaycontainer-stopevent {
    z-index: 20 !important;

    .ol-overlay-container {
      z-index: 10;
    }

    .ol-scale-line {
      z-index: 5;
    }
  }

  .zoom-btn, .my-location {
    z-index: 5;
  }

  .report-map-wrap {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    min-height: 250px;

    @media (max-width: 767px) {
      padding: 0;
      flex: 1 1 200px;
    }

    &:has(.report-map-container.expanded) {
      padding: 0;
    }

    .report-map-container {
      display: flex;
      height: 700px;
      border: 1px solid $Divider;

      @media (max-width: 767px) {
        flex-direction: column;
        border: none;
        height: 100%;
      }

      @media (min-width: 768px) and (pointer: coarse) {
        height: 75vh;
      }

      .fixed-to-mobile-group {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1;
      }

      .reportMap-instructions {
        position: absolute;
        z-index: 1;
        width: 100%;
        max-width: 100%;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $BC-Blue;
        border-radius: 8px;
        padding: 12px;

        @media (min-width: 375px) {
          width: fit-content;
        }

        p {
          color: White;
          font-size: 0.875rem;
          margin-bottom: 0;

          @media (min-width: 375px) {
            white-space: nowrap;
          }
        }
      }

      .side-panel {
        height: 100%;
        background-color: white;
        flex: 0;
        min-width: 0px;
        min-height: 0%;
        transition: min-width 0.25s ease-in-out;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;

        @media (max-width: 767px) {
          transition: min-height 0.25s ease-in-out;
          order: 2;
          overflow: scroll;
        }

        &.open {
          min-width: 390px;

          .panel-content {
            min-width: 390px;
          }

          @media (max-width: 767px) {
            min-width: 100%;
            min-height: 50%;

            .panel-content {
              min-width: 100%;
            }
          }
        }

        &.maximized {
          @media (max-width: 767px) {
            min-height: 100%;
            overflow: auto;
          }
        }

        .close-panel {
          color: $BC-Blue;

          &:hover {
            background: lighten($BC-Blue, 70%);
          }
        }

        .panel-content {
          flex: 1;
        }
      }

      .popup {
        &__title {

          &__icon {
            width: 24px;
            height: 24px;
            border: 2px solid $BC-Blue;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            font-size: 0.75rem;
            
            svg {
              color: $BC-Blue;
              margin-right: 0;
            }
          }

          &__name {
            .name {
              color: $BC-Blue;
            }

          }
        }

        &__content {
          padding: 1rem;

          p {
            color: $Type-Primary;
            font-size: 0.875rem;
            line-height: 1.5rem;
            margin-bottom: 0;
          }

          .service-area {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 0;
          }

          .service-area-number {
            color: $Grey80;
            font-size: 0.75rem;
          }

          .contractor-name {
            font-size: 1rem;
            font-weight: 700;
            margin-top: 24px;
          }
        }
      }

      .report-map {
        flex: 1;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .ol-overlay-container:not(:has(> img)) {
          //overriding openlayers dynamic styles for mobile layout except for having img as a direct child
          @media (max-width: 767px) {
            position: fixed !important;
            bottom: 0 !important;
            transform: none !important;
          }

          // overlay content styling moved to App.scss
        }

        .ol-zoom .ol-zoom-out {
          margin-top: 200px;
        }

        .ol-scale-line {
          background: var(--ol-partial-background-color);
          border-radius: 4px;
          left: auto;
          right: 1rem;
          bottom: 4rem;
          padding: 2px;
          position: absolute;

          @media (min-width: 769px) {
            right: 1rem;
            bottom: 1rem;
          }

          @media (min-width: 992px) {
            right: 4rem;
            bottom: 1rem;
          }
        }

        .ol-scale-line-inner {
          border: 1px solid var(--ol-subtle-foreground-color);
          border-top: none;
          color: var(--ol-foreground-color);
          font-size: 0.75rem;
          text-align: center;
          font-family: 'BCSans', serif;
          margin: 1px;
          will-change: contents, width;
          transition: all 0.25s;
        }
      }

      .map-btn {
        background-color: $Surface-tinted;
        color: $Type-Link;
        position: absolute;
        z-index: 1;
        margin-bottom: 0;
        font-size: 0.875rem;
        font-weight: 700;
        height: auto;
        border-radius: 4px;
        border: 1px solid $Type-Link;

        &:hover {
          background: $Type-Link;
          color: $White;
        }

        &.my-location, &.expand {
          svg {
            margin-right: 8px;
          }
        }

        &.my-location {
          position: absolute;
          bottom: 1rem;
          left: 1rem;
        }
      }

      .expand {
        bottom: 1rem;
        right: 1rem;
      }

      .back {
        top: 1rem;
        left: 1rem;

        svg {
          margin-right: 8px;
        }
      }

      .zoom-btn {
        background-color: $Surface-tinted;
        color: $Type-Link;
        position: absolute;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 700;
        height: auto;
        border-radius: 6px;
        border: 1px solid $Type-Link;
        box-shadow: 0px 1.9368422031402588px 4.3578948974609375px 0px #00000021;
        bottom: 1rem;
        right: 1rem;
        display: flex;
        flex-direction: column;

        //Hide zoom slider on touch devices
        @media (max-width: 992px) {
          display: none;
        }

        & > .btn {
          margin-bottom: 0;
          background-color: $Surface-tinted;
          color: $Type-Link;
          border: none;
          border-radius: 0;
          padding: 4px 8px;

          &:hover {
            background: $Type-Link;
            color: $White;
          }

          &.zoom-in {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          &.zoom-out {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }

        .zoom-divider {
          margin: 0 10px;
          border-bottom: 1px solid $Divider;
        }
      }

      .data-card {
        margin: 0.75rem 0;
        padding: 0.75rem;
        border-radius: 8px;
        box-shadow: 0px 6.4px 14.4px 0px rgba(0, 0, 0, 0.13), 0px 1.2px 3.6px 0px rgba(0, 0, 0, 0.10);
    
        &__row {
          display: flex;
    
          & + .data-card__row {
            margin-top: 0.75rem;
            padding-top: 0.75rem;
            border-top: 1px solid $Divider;
          }
    
          &:not(.group) {
            .data-icon {
              align-self: top;
            }
          }
    
          .data-icon {
            margin-right: 0.75rem;
            color: $Grey80;
          }
    
          .data-group {
            flex: 1 0;
    
            &__row {
              display: flex;
            }
          }
        }
    
        .label, .data {
          font-size: 0.875rem;
          margin-bottom: 0;
        }
    
        .label {
          text-align: left;
          color: $Grey80;
        }
    
        .data {
          text-align: right;
          margin-left: auto;
          min-width: 80px;
          color: $Type-Primary;
          font-weight: 700;
          font-size: 0.875rem;
        }

        .data-link {
          text-align: right;
          margin-left: auto;
          min-width: 80px;
          font-weight: 700;
          font-size: 0.875rem;
        }
      }
    }
  }

    // Drawer Styles - Mobile Only (768px and under)
  .drawer-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    inset: 0;
    z-index: 1000;

    // Hide on desktop
    @media (min-width: 769px) {
      display: none;
    }
  }

  .drawer-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    height: 100%;
    
    .drawer-drag-handle {
      position: absolute;
      width: 100%;
      height: 44px;
      cursor: grab;
      z-index: 2;

      &:after {
        content: "";
        position: absolute;
        top: 0.25rem;
        left: 50%;
        transform: translateX(-50%);
        width: 32px;
        height: 0.25rem;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        z-index: 5;
        cursor: grab;
        transition: 0.1s ease-in-out all;
      }

      &:active::after {
        cursor: grabbing;
        background-color: rgba(0, 0, 0, 0.4);
        width: 84px;
        height: 0.35rem;
        transition: 0.1s ease-in-out all;
      }
    }

    & > div.panel-content {
      overflow-y: auto;
      height: 100%;
      background-color: white;
      border-radius: 12px 12px 0 0;
      box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);

      .popup__content {
        overflow-y: scroll;
      }
    }

    .close-panel {
      z-index: 3;
    }

    .side-panel {
      width: 100%;
      height: 100%;
      border-radius: 12px 12px 0 0;
    }

    @media (min-width: 769px) {
      display: none;
    }
  }

  .drawer-content, .panel-content {
    &:focus, &:focus-visible {
      outline: none;
      box-shadow: none;
    }    
  }

  .panel-content {
    height: 100%;
  }
}