@font-face {
    font-family: "BC Sans";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/BCSans-Light.woff2") format("woff2"),
         url("../fonts/BCSans-Light.woff") format("woff");
}