@font-face {
    font-family: "BC Sans";
    font-style: italic;
    font-weight: 700;
    src: url("BCSans-BoldItalic.woff2") format("woff2"),
         url("BCSans-BoldItalic.woff") format("woff");
}