@font-face {
    font-family: "BC Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/BCSans-Bold.woff2") format("woff2"),
         url("../fonts/BCSans-Bold.woff") format("woff");
}