@import "../../styles/variables.scss";
@import '~ol/ol.css';

// Z-index
.ol-overlaycontainer-stopevent {

  .ol-overlay-container {
    z-index: 10;
  }

  .ol-scale-line {
    z-index: 10;
  }
}

.zoom-btn, .my-location {
  z-index: 5;
}

.map-wrap {
  position: absolute;
  top: 58px;
  bottom: 0;
  width: 100%;

  @media (min-width: 992px) {
    top: 58px;
  }

  .map-container {
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    &.preview {
      flex-direction: column;

      .side-panel {
        transition: min-height 0.25s ease-in-out;
        order: 2;
        overflow-y: auto;

        &.open {
          min-width: 100%;
          min-height: 100%;
        }
      }
    }

    .side-panel {
      height: 100%;
      background-color: white;
      flex: 0;
      min-width: 0px;
      min-height: 0%;
      transition: min-width 0.25s ease-in-out;
      overflow-y: hidden;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 10;

      @media (max-width: 767px) {
        transition: min-height 0.25s ease-in-out;
        order: 2;
      }

      &.open {
        min-width: 390px;

        .panel-content {
          min-width: 390px;

          .popup__content {
            overflow-y: auto;
          }
        }

        @media (max-width: 767px) {
          min-width: 100%;
          min-height: 50%;

          .panel-content {
            min-width: 100%;
          }
        }
      }

      &.maximized {
        @media (max-width: 767px) {
          min-height: 100%;
          overflow: auto;
        }
      }

      .panel-content {
        flex: 1;
      }
    }

    .map {
      flex: 1;
      position: absolute;
      @media (max-width: 767px) {
        position: relative;
      }
      width: 100%;
      height: 100%;
      overflow: hidden;

      .map-left-container {
        position: absolute;
        width: 100%;
        margin-left: 0;
        transition: margin-left 0.25s ease-in-out;

        &.margin-pushed{
          margin-left: 390px;
          @media (max-width: 767px) {
            margin-left: 0px;
          }
        }


        @media (max-width: 768px) {
          &.error-showing {
            top: 100px;
          }
        }

        @media (min-width: 768px) {
          width: initial;
        }
      }

      .routing {
        @media (orientation: landscape) and (max-width: 767px) {
          width: fit-content;
        }
      }

      .ol-zoom .ol-zoom-out {
        margin-top: 200px;
      }

      .ol-scale-line {
        background: var(--ol-partial-background-color);
        border-radius: 4px;
        left: auto;
        right: 1rem;
        bottom: 4rem;
        padding: 2px;
        position: absolute;

        @media (min-width: 769px) {
          right: 1rem;
          bottom: 1rem;
        }

        @media (min-width: 992px) {
          right: 4rem;
          bottom: 1rem;
        }
      }

      .ol-scale-line-inner {
        border: 1px solid var(--ol-subtle-foreground-color);
        border-top: none;
        color: var(--ol-foreground-color);
        font-size: 0.75rem;
        text-align: center;
        font-family: 'BCSans', serif;
        margin: 1px;
        will-change: contents, width;
        transition: all 0.25s;
      }
    }

    .map-btn {
      background-color: $Surface-tinted;
      color: $Type-Link;
      position: absolute;
      margin-bottom: 0;
      font-size: 0.875rem;
      font-weight: 700;
      height: auto;
      border-radius: 4px;
      border: 1px solid $Type-Link;

      &:hover {
        background: $Type-Link;
        color: $White;
      }

      &.map-view, &.my-location,  &.cam-location {
        svg {
          margin-right: 8px;
        }
      }

      &.map-view {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }

      &.cam-location {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
      }

      &.my-location {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        margin-left: 0;
        transition: margin-left 0.25s ease-in-out;

        &.margin-pushed {
          margin-left: 390px;
        }

        .spinner-border {
          position: relative;
          margin-right: 8px;
          margin-left: -2px;
        }
      }

      &.open-filters {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 5;

        @media (max-width: 767px) {
          top: initial;
          bottom: 1rem;
        }
      }
    }

    .advisories-btn {
      position: relative;
      top: 1rem;
      width: fit-content;
      z-index: 4;
      margin: 0 1rem;
    }

    .filters-component {
      .filters {
        @media (min-width: 768px) {
          max-height: calc(100vh - 200px);
        }
      }
    }

    .zoom-btn {
      background-color: $Surface-tinted;
      color: $Type-Link;
      position: absolute;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 700;
      height: auto;
      border-radius: 6px;
      border: 1px solid $Type-Link;
      box-shadow: 0px 1.9368422031402588px 4.3578948974609375px 0px #00000021;
      bottom: 1rem;
      right: 1rem;
      display: flex;
      flex-direction: column;

      //Hide zoom slider on touch devices
      @media (max-width: 992px) {
        display: none;
      }

      & > .btn {
        margin-bottom: 0;
        background-color: $Surface-tinted;
        color: $Type-Link;
        border: none;
        border-radius: 0;
        padding: 4px 8px;

        &:hover {
          background: $Type-Link;
          color: $White;
        }

        &.zoom-in {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        &.zoom-out {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }

      .zoom-divider {
        margin: 0 10px;
        border-bottom: 1px solid $Divider;
      }
    }
  }

  .ol-overlay-container {
    background-image: url('../map/location-marker.svg');
    background-size: contain;
    background-repeat: no-repeat;

    img {
      opacity: 0;
    }
  }
}
