@import "../../styles/variables";

.popup {
  &__title {
    background-color: #F1F8FE;
    border-top: 4px solid #053662;
    padding: 1rem 1rem 0.5rem;
    
    .name {
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-size: 1.25rem;
      color: #053662;
    }

    &__icon {
      width: 36px;
      height: 36px;
      border-radius: 6px;
      background-color: #053662;
      color: white;
      display: flex;
      svg {
        margin: auto;
      }
    }
  }

  &__content {
    &__title {
      margin: 1rem 1rem 0.5rem;
  
      .name {
        font-size: 1.25rem;
        color: #053662;
      }
    }

    &__image {
      img {
        width: 100%;
      }
  
      .timestamp {
        background-color: $Black;
        padding: 0 10px;
        display: flex;
        color: $White;
        align-items: baseline;
  
        p {
          color: $White;
          margin-bottom: 0;
          font-size: 0.625rem;
        }
  
        .driveBC {
          font-family: serif;
          span {
            color: $BC-Yellow;
          }
          margin-right: 10px;
        }
  
        .friendly-time, .formatted-date {
          margin-left: auto;
        }
  
        .formatted-date {
          font-size: 0.75rem;
        }
      }
  
      .camera-unavailable {
        background-color: $Surface-status-red;
        padding: 1rem;
        min-height: 225px;
        font-size: 1rem;
        p, .card-img-box {
          color: $Type-status-red;
          clear: right;
        }
  
        svg {
          font-size: 1rem;
        }
  
        .card-pill {
          background-color: $Error;
          border-radius: 12px;
          height: 24px;
          float: right;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 6px;
  
          p {
            color: $White;
            font-weight: 700;
            margin-bottom: 0;
            font-size: 0.625rem;
          }
        }
      }
    }

    &__description {
      padding: 1rem 1rem 0.5rem;
    }
  }

  // Cameras layer
  &--camera {
    .popup__content {
      &__title {
        .name:hover {
          cursor:pointer;
          text-decoration: underline;
        }
      }
    }
    .camera-orientations {
      padding: 0 1rem;
    }
  }

  //Ferries layer
  &--ferry {
    .popup__title {
      background-color: #FBFFFC;
      border-top: 4px solid #2E8540;
      
      .name {
        color: #2E8540;
        a {
          color: #2E8540;
          text-decoration: none;
          &:hover {
            cursor:pointer;
            text-decoration: underline;
          }
        }
      }
  
      &__icon {
        background-color: #2E8540;
        color: white;
      }
    }
  }

  //Delays layers
  &--event {
    .popup__title {
      &__icon {
        width: initial;
        height: initial;
        background: none;

        .delay-icon-img {
          width: 36px;
        }
      }
    }
    
    .popup__content {
      &__title {
        border-bottom: 1px solid $Divider;
        .name {
          margin-bottom: 0;
        }
        .direction {
          font-size: 0.875rem;
          color: $Grey70;
        }
      }
      &__description {
        .friendly-time {
          margin-bottom: 0.5rem;
          &-text {
            font-weight: 700;
          }

          &__tooltip {
            left: 100%;
          }
        }
      }
    }
    
    &.major, &.closures {
      .popup__title {
        background-color: #F4E1E2;
        border-top: 4px solid #CE3E39;

        .name {
          color: #CE3E39;
        }
      }

      .popup__content {
        &__title {
          .name {
            color: #CE3E39;
          }
        }
      }
    }

    &.minor {
      .popup__title {
        background-color: #FEEBC2;
        border-top: 4px solid #584215;

        .name {
          color: #584215;
        }
      }

      .popup__content {
        &__title {
          .name {
            color: #584215;
          }
        }
      }
    }
  }
}

