.routing-container {
  background: white;
  padding: 2rem 2rem 0;

  .typeahead-container {
    width: calc(100% - 32px - 2rem);

    @media (min-width: 992px) {
      width: 360px;
    }

    &:first-of-type {
      padding-top: 4rem;
      @media (min-width: 992px) {
        padding-top: 0;
      }
    }

    &-two {
      padding-top: 0.5rem;
      margin-top: 0.5rem;
    }

    .form-control {
      padding: 5px 12px;
      line-height: 1;
    }
  }
}
