.routing-container {
  background: white;
  padding: 2rem 2rem 0;

  .typeahead-container {
    width: 100%;

    @media (min-width: 768px) {
      width: 360px;
    }

    &-two {
      padding-top: 0.5rem;
      margin-top: 0.5rem;
    }

    .form-control {
      padding: 5px 12px;
      line-height: 1;
    }
  }
}
