@import "../../styles/variables.scss";

.routing-container {
  // background: white;
  padding: 1rem 1rem 0;
  z-index: 5;

  .swap-button{
    position: absolute;
    top: 30px;
    right: 4px;
    padding: 8px 4px 8px 4px;
    gap: 6px;
    color: $Type-Link;
    border-radius: 32px 32px 32px 32px;
    border: 1px solid #D9D9D9;
    background: $White;

    &:hover {
      background: $Type-Link;
      color: $White;
    }
  }

  .typeahead-container {
    position: relative;
    width: 100%;

    .typeahead-spinner {
      position: absolute;
      top: 8px;
      right: 8px;
    }

    @media (min-width: 768px) {
      width: 300px;
    }

    .location-marker {
      position: absolute;
      z-index: 1;
      margin: 0.25rem;

      &--from {
        font-size: 0.75rem;
        margin: 0.5rem;
        color: $Type-Secondary;
      }

      &--to {
        font-size: 1rem;
        margin: 0.25rem 0.5rem;
        color: $Error;
      }
    }

    .rbt-aux {
      margin-right: 4px;

      .rbt-close {
        background: none;
        margin-top: 0;
      }
    }

    #location-search-typeahead {
      font-size: 0.875rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-color: #dee2e6;
      transform: translate3d(0px, 28px, 0px) !important;
    }

    &.stacked {

      .form-control {
        padding-left: 1.75rem;
      }

      &.typeahead-container--from {
        .form-control {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &.typeahead-container--to {
        .form-control {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}
