@import "../../../styles/variables";

.popup {
  // Advisories panel
  &--advisories {
    .popup__title {
      background-color: $Advisory-Bg;

      .name {
        color: $Advisory-Text;
      }
    }

    .popup__content {
      padding: 12px 16px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }

      .advisories-list .advisory-li .advisory-li__content .advisory-li-title-container .advisory-li-title {
        font-size: 1rem;
      }
      .advisory-li {
        width: 100%;
        .timestamp-container .friendly-time {
          margin-left: 0.5ch;
        }
        &:hover {
          background-color: $Grey10;
          transition: 0.1s ease-in-out background-color;    
        }
      }
      .advisory-li-state {
        margin-left: 0;
      }
      .advisory-li__content {
        width: 100%;
      }

      .advisory-li-teaser {
        max-width: 95%;
      }
    }
  }
}
