@import "../../../styles/variables";

.popup {
  // Cameras panel
  &--camera {
    .popup__title {
      background-color: $Blue10;

      .name {
        color: $Blue90;
      }
    }

    .popup__content {
      padding: 1rem;

      &__title {
        .name:hover {
          cursor:pointer;
          text-decoration: underline;
        }
      }

      &__description p {
        font-size: 0.875rem;
      }


      &__image {
        cursor: pointer;

        .friendly-time__tooltip {
          transform: none;
          left: inherit;
          right: 0;

          &:before {
            left: inherit;
            right: 0;
          }
        }
      }

      &__tools {
        margin-top: 8px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .view-details {
          font-size: 0.875rem;
          font-weight: 700;
          color: $Type-Link;
          margin-bottom: 0;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          svg {
            margin-left: 8px;
          }
        }

        .favourite-btn {
          svg {
            margin-right: 8px;
          }
        }
      }
    }
    .camera-orientations {
      margin-bottom: 8px;
    }
  }
}

.clip {
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  .panel-img {
    width: 100%;
    min-height: 200px;
    background-color: #ddd;
  }

  .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
    transition: all 0.3s ease;
  }

  .card-banner, .card-pill {
    position: absolute;
    display: flex;
    align-items: center;

    &.hidden {
      transform:translateY(-200%);
      transition: transform 0.7s;
    }

    &.bounce {
      animation: bounce 0.7s ease;
      animation-fill-mode:forwards;
    }

    @keyframes bounce {
        0% { transform:translateY(-200%); }
        40% { transform:translateY(20%); }
        100% { transform:translateY(0%); }
    }

    p {
      font-weight: 700;
      margin-bottom: 0;
    }
  }

  .card-banner {
    padding: 24px 6px 12px 12px;
    top: -12px;
    width: 100%;
    justify-content: space-between;
    background-color: $BC-Yellow-Alt;
    color: $BC-Yellow-Dark;

    p, svg {
      font-size: 0.6875rem;
      color: $BC-Yellow-Dark;
    }

    svg {
      padding: 6px 7px;
      border-radius: 12px;

      &:hover {
        background-color: rgba(0,0, 0,0.1);
      }
    }
  }

  .card-pill {
    top: 8px;
    right: 8px;
    padding: 4px 6px;
    border-radius: 12px;
    transform:translateY(-200%);
    background-color: $BC-Yellow-Alt;
    color: $BC-Yellow-Dark;

    p, svg {
      font-size: 0.625rem;
      color: $BC-Yellow-Dark;
    }

    svg {
      margin-left: 4px;
    }
  }

  .card-notification.updated {
    .card-pill, .card-banner {
      background-color: $Blue80;

      p, svg {
        color: $White;
      }
    }
  }
}


.react-loading-skeleton {
    --base-color: #D8EAFD;
    --highlight-color: #F1F8FE;
    --animation-duration: 1s !important;
    background: linear-gradient(90deg, var(--base-color) 10%, var(--highlight-color) 50%, var(--highlight-color) 75%) !important;
    --animation-duration: 1.5s;
    --animation-direction: normal;
    --pseudo-element-display: block;
    background-color: var(--base-color);
    width: 100%;
    border-radius: 0.25rem;
    display: inline-flex;
    line-height: 1;
    position: relative;
    user-select: none;
    overflow: hidden;
}