@import "../../../styles/variables";

.popup {
  // Events panel
  &--event {
    .popup__title {
      &__icon {
        width: initial;
        height: initial;
        background: none;

        .delay-icon-img {
          width: 36px;
        }
      }
    }

    .popup__content {
      &__title {
        .name {
          margin-bottom: 0;
        }
        .direction {
          font-size: 0.875rem;
          color: $Grey80;
          margin-bottom: 0;
        }
        .location {
          font-size: 0.875rem;
          margin-top: 0;
          color: $Grey80;
        }
      }
      &__description {
        & > p:first-child {
          font-weight: bold;
          margin-bottom: 0;
        }

        .friendly-time {
          margin-bottom: 0.5rem;
        }

        &.last-update {
          .friendly-time-text {
            font-size: 0.875rem;
          }
          .friendly-time__tooltip {
            left: 0;
            transform: none;

            &:before {
              left: 0;
              transform: none;
            }
          }
        }
      }

      &__block {
        display: flex;
        justify-content: space-between;
        gap: 12px;

      > div {
        flex: 1;
      }

      }
    }

    &.major, &.closures, &.futureEvents.closure {
      .popup__title {
        background-color: $Surface-major;

        .name {
          color: $Error;
        }
      }
    }

    &.minor, &.roadConditions {
      .popup__title {
        background-color: $Gold30;

        .name {
          color: $Gold110;
        }
      }
    }

    &.chainUps {
      .popup__title {
        background-color: $Yellow-10;

        .name {
          color: $Type-Primary;
        }
      }

      .popup__content {
        &__description {
          time {
            font-size: 0.875rem;
            &:hover {
              color: $Type-Link;
            }
          }
        }
        &__shadow-box {
          font-size: 0.875rem;
        }
      }
    }

  }
}
