@import "../../../styles/variables";

.popup {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    background-color: $Blue10;
    border-top: 4px solid $Info;
    padding: 1rem;

    &__name {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
    }

    .name {
      margin-bottom: 0;
      font-size: 1.25rem;
      color: $Info;
    }

    &__icon {
      width: 36px;
      height: 36px;
      border-radius: 6px;
      background-color: $Info;
      color: white;
      display: flex;

      svg {
        margin: auto;
      }
    }
  }

  &__content {
    padding-bottom: 1.5rem;

    &__title {
      margin: 1rem 1rem 0.5rem;

      .name {
        font-size: 1.25rem;
        color: $Info;
      }
    }

    &__image {
      position: relative;

      img {
        width: 100%;
      }

      .timestamp {
        background-color: $Black;
        position: absolute;
        bottom: 0;
        padding: 0 10px;
        display: flex;
        color: $White;
        align-items: baseline;
        width: 100%;

        p {
          color: $White;
          margin-bottom: 0;
          font-size: 0.625rem;
        }

        .driveBC {
          font-family: serif;

          span {
            color: $BC-Yellow;
          }

          margin-right: 10px;
        }

        .friendly-time,
        .formatted-date {
          margin-left: auto;
        }

        .formatted-date {
          font-size: 0.625rem;
        }
      }

      .camera-unavailable {
        background-color: $Error;
        padding: 1rem;
        min-height: 225px;
        font-size: 1rem;

        p,
        .card-img-box {
          color: $Error;
          clear: right;
        }

        svg {
          font-size: 1rem;
        }

        .card-pill {
          background-color: $Error;
          border-radius: 12px;
          height: 24px;
          float: right;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 6px;

          p {
            color: $White;
            font-weight: 700;
            margin-bottom: 0;
            font-size: 0.625rem;
          }
        }
      }

      .camera-delayed {
        background-color: $BC-Yellow-Alt;
        padding: 1rem;
        font-size: 1rem;

        p,
        .card-img-box {
          color: $BC-Yellow-Dark;
          clear: right;
        }

        .card-pill {
          background-color: $BC-Yellow-Dark;
          border-radius: 12px;
          height: 24px;
          float: right;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 6px;

          p {
            color: $White;
            font-weight: 700;
            margin-bottom: 0;
            font-size: 0.625rem;
          }
        }
      }
    }

    &__description {
      padding: 1rem 1rem 0;
    }

    &__tools {
      padding: 1rem;
    }
  }
}

.close-panel {
  position: absolute;
  top: 1.125rem;
  right: 1rem;
  padding: 0;
  min-width: 0;
  line-height: 1.25rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: none;
  border: none;
  font-size: 1rem;
}

.close-panel:has(+ .panel-content .popup.closure),
.close-panel:has(+ .panel-content .popup.major) {
  color: $Error;

  &:hover {
    background: lighten($Error, 38%);
  }
}

.close-panel:has(+ .panel-content .popup.minor),
.close-panel:has(+ .panel-content .popup.roadConditions),
.close-panel:has(+ .panel-content .popup.popup--advisories),
.close-panel:has(+ .popup.popup--advisories) {
  color: $Gold110;

  &:hover {
    background: lighten($Gold110, 60%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--camera) {
  color: $BC-Blue;

  &:hover {
    background: lighten($BC-Blue, 70%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--ferry) {
  color: $Success;

  &:hover {
    background: lighten($Success, 60%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--reststop) {
  color: $Type-reststop;

  &:hover {
    background: lighten($Type-reststop, 60%);
  }
}

.close-panel:has(+ .panel-content .popup--weather){
  color: $Type-Primary;

  &:hover {
    background: lighten($Type-Primary, 70%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--route) {
  color: $White;

  &:hover {
    background: lighten($Info, 5%);
  }
}