@import "../../../styles/variables";

.popup {
  &__title {
    background-color: #F1F8FE;
    border-top: 4px solid #053662;
    padding: 1rem;

    &__name {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
    }

    .name {
      margin-bottom: 0;
      font-size: 1.25rem;
      color: #053662;
    }

    &__icon {
      width: 36px;
      height: 36px;
      border-radius: 6px;
      background-color: #053662;
      color: white;
      display: flex;

      svg {
        margin: auto;
      }
    }
  }

  &__content {
    padding-bottom: 1.5rem;

    &__title {
      margin: 1rem 1rem 0.5rem;

      .name {
        font-size: 1.25rem;
        color: #053662;
      }
    }

    &__image {
      position: relative;

      img {
        width: 100%;
      }

      .timestamp {
        background-color: $Black;
        position: absolute;
        bottom: 0;
        padding: 0 10px;
        display: flex;
        color: $White;
        align-items: baseline;
        width: 100%;

        p {
          color: $White;
          margin-bottom: 0;
          font-size: 0.625rem;
        }

        .driveBC {
          font-family: serif;

          span {
            color: $BC-Yellow;
          }

          margin-right: 10px;
        }

        .friendly-time,
        .formatted-date {
          margin-left: auto;
        }

        .formatted-date {
          font-size: 0.625rem;
        }
      }

      .camera-unavailable {
        background-color: $Surface-status-red;
        padding: 1rem;
        min-height: 225px;
        font-size: 1rem;

        p,
        .card-img-box {
          color: $Type-status-red;
          clear: right;
        }

        svg {
          font-size: 1rem;
        }

        .card-pill {
          background-color: $Error;
          border-radius: 12px;
          height: 24px;
          float: right;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 6px;

          p {
            color: $White;
            font-weight: 700;
            margin-bottom: 0;
            font-size: 0.625rem;
          }
        }
      }
    }

    &__description {
      padding: 1rem 1rem 0;
    }

    &__tools {
      padding: 1rem;
    }
  }
}

.close-panel {
  position: absolute;
  top: 1.125rem;
  right: 1rem;
  padding: 0;
  min-width: 0;
  line-height: 1.25rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: none;
  border: none;
  font-size: 1rem;
}

.close-panel:has(+ .panel-content .popup.closure),
.close-panel:has(+ .panel-content .popup.major) {
  color: #CE3E39;

  &:hover {
    background: lighten(#CE3E39, 38%);
  }
}

.close-panel:has(+ .panel-content .popup.minor),
.close-panel:has(+ .panel-content .popup.roadConditions),
.close-panel:has(+ .panel-content .popup.popup--advisories),
.close-panel:has(+ .popup.popup--advisories) {
  color: #584215;

  &:hover {
    background: lighten(#584215, 60%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--camera) {
  color: $BC-Blue;

  &:hover {
    background: lighten($BC-Blue, 70%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--ferry) {
  color: #2E8540;

  &:hover {
    background: lighten(#2E8540, 60%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--reststop) {
  color: #273F94;

  &:hover {
    background: lighten(#273F94, 60%);
  }
}

.close-panel:has(+ .panel-content .popup--regional-weather),
.close-panel:has(+ .panel-content .popup--road-weather) {
  color: $Type-Primary;

  &:hover {
    background: lighten($Type-Primary, 70%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--route) {
  color: $White;

  &:hover {
    background: lighten(#053662, 5%);
  }
}

.favourite-btn {
  border: none;
  background: none;

  svg {
    margin-right: 8px;
  }

  span {
    font-weight: 700;
    color: #255A90;
  }

  &.favourited {
    color: #F8BB47;
  }
}