@import "../../../styles/variables";
.popup {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    padding: 1rem 3rem 0.75rem 1rem;
    display: flex;
    justify-content: space-between;

    &__name {
      display: flex;

      svg {
        margin-right: 8px;
      }
    }

    .name {
      margin-bottom: 0;
      font-size: 0.875rem;
      font-weight: 700;
      color: $BC-Blue;
    }
  }

  &__content {
    padding: 1rem 1rem 1.5rem;

    &__shadow-box {
      background-color: $White;
      padding: 0.75rem;
      border-radius: 8px;
      box-shadow: 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.10), 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.13);
      margin-top: 0.75rem;

      p {
        margin-bottom: 0;
        font-size: 0.875rem;
      }
    }

    &__title {

      .name {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    &__image {
      position: relative;

      img {
        width: 100%;
      }

      .timestamp {
        background-color: $Black;
        position: absolute;
        bottom: 0;
        padding: 0 10px;
        display: flex;
        color: $White;
        align-items: baseline;
        width: 100%;

        p {
          color: $White;
          margin-bottom: 0;
          font-size: 0.625rem;
        }

        .driveBC {
          font-family: serif;

          span {
            color: $BC-Yellow;
          }

          margin-right: 10px;
        }

        .friendly-time,
        .formatted-date {
          margin-left: auto;
        }

        .formatted-date {
          font-size: 0.625rem;
        }
      }

      .camera-unavailable {
        background-color: $Surface-major;
        padding: 1rem;
        min-height: 225px;
        font-size: 1rem;

        p,
        .card-img-box {
          color: $Error;
          clear: right;
        }

        svg {
          font-size: 1rem;
        }

        .card-pill {
          background-color: $Error;
          border-radius: 12px;
          height: 24px;
          float: right;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 6px;

          p {
            color: $White;
            font-weight: 700;
            margin-bottom: 0;
            font-size: 0.625rem;
          }
        }
      }

      .camera-delayed {
        background-color: $BC-Yellow-Alt;
        padding: 1rem;
        font-size: 1rem;

        p,
        .card-img-box {
          color: $BC-Yellow-Dark;
          clear: right;
        }

        .card-pill {
          background-color: $BC-Yellow-Dark;
          border-radius: 12px;
          height: 24px;
          float: right;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 6px;

          p {
            color: $White;
            font-weight: 700;
            margin-bottom: 0;
            font-size: 0.625rem;
          }
        }
      }
    }

    &__description {
      margin-top: 1.5rem;
    }

    &__tools {
      padding: 1rem;
    }
  }
}

.close-panel, .resize-panel {
  position: absolute;
  top: 1.125rem;
  right: 1rem;
  padding: 0;
  min-width: 0;
  border-radius: 50%;
  background: none;
  border: none;
  font-size: 0.875rem;
}

.close-panel {
  padding: 12px 17px;
  top: 6px;
  right: 0;
  color: $Type-Primary;
  &:hover {
    background: lighten($Type-Primary, 70%);
  }
}

.resize-panel {
  &.no-route {
    right: 3.5rem;
  }
}

.close-panel:has(+ .panel-content .popup.closure),
.close-panel:has(+ .panel-content .popup.major),
.close-panel:has(+ .panel-content .popup--wildfire),
.close-panel:has(+ .panel-content .popup.popup--reststop.closed),
.resize-panel:has(~ .panel-content .popup.closure),
.resize-panel:has(~ .panel-content .popup.major),
.resize-panel:has(~ .panel-content .popup--wildfire),
.resize-panel:has(~ .panel-content .popup.popup--reststop.closed)
 {
  color: $Error;
  
  &:hover {
    background: lighten($Error, 38%);
  }
}


.close-panel:has(+ .panel-content .popup.popup--reststop.closed) {
  top: 16px;
}

.close-panel:has(+ .panel-content .popup.minor),
.close-panel:has(+ .panel-content .popup.roadConditions),
.resize-panel:has(~ .panel-content .popup.minor),
.resize-panel:has(~ .panel-content .popup.roadConditions) {
  color: $Gold110;

  &:hover {
    background: lighten($Gold110, 60%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--advisories),
.close-panel:has(+ .popup.popup--advisories),
.resize-panel:has(~ .panel-content .popup.popup--advisories),
.resize-panel:has(~ .popup.popup--advisories) {
  color: $Advisory-Text;
 
  &:hover {
    background: lighten($Advisory-Text, 50%);
  }
}

.close-panel.close-panel:has(+ .panel-content .popup.chainUps),
.resize-panel:has(~ .panel-content .popup.chainUps) {
  color: $Type-Primary;
  &:hover {
    background: lighten($Chainups, 20%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--camera),
.close-panel:has(+ .panel-content .popup.popup--border-crossing),
.resize-panel:has(~ .panel-content .popup.popup--camera),
.resize-panel:has(~ .panel-content .popup.popup--border-crossing) {
  color: $Blue90;

  &:hover {
    background: lighten($BC-Blue, 70%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--ferry),
.resize-panel:has(~ .panel-content .popup.popup--ferry) {
  color: $Success;

  &:hover {
    background: lighten($Success, 60%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--reststop),
.resize-panel:has(~ .panel-content .popup.popup--reststop) {
  color: $Type-reststop;

  &:hover {
    background: lighten($Type-reststop, 60%);
  }
}

.close-panel:has(+ .panel-content .popup--weather),
.resize-panel:has(~ .panel-content .popup--weather) {
  color: $Type-Primary;

  &:hover {
    background: lighten($Type-Primary, 70%);
  }
}

.close-panel:has(+ .panel-content .popup.popup--route) {
  color: $White;

  &:hover {
    background: lighten($Info, 5%);
  }
}
