@import "../../../styles/variables";

.popup {
  // Wildfire panel
  &--wildfire {
    .popup__title {
      background-color: $Surface-major;

      .name {
        color: $Red-dark;
      }
    }

    .popup__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      &__description {
        flex-grow: 1;
      }

      .wildfire-status {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        padding: 8px 12px;
        border-radius: 8px;

        &--note {
          background-color: $Advisory-Bg;
          border: 1px solid $Advisory-Text;

          .wildfire-status__title {
            color: $Advisory-Text;
          }
        }

        &--out-of-control {
          background-color: $Surface-major;
          border: 1px solid $Red-dark;

          .wildfire-status__title {
            color: $Red-dark;
          }
        }

        &--being-held {
          background-color: $Gold10;
          border: 1px solid $Gold110;

          .wildfire-status__title {
            color: $Gold110;
          }
        }

        &--under-control {
          background-color: $Surface-green;
          border: 1px solid $Green;

          .wildfire-status__title {
            color: $Green;
          }
        }

        &__title {
          font-weight: 700;
          margin-bottom: 6px;
        }
      }

      .wildfire-status__title {
        font-size: 0.875rem;
        line-height: 1.5;
      }
      .wildfire-status__description {
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 0;
      }

      .data-icon {
        width: 18px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .url-btn {
        a {
          background-color: $Grey10;
          font-size: 0.875rem;
          font-weight: 700;
          text-align: center;
          display: block;
          text-decoration: none;
          padding: 10px;
          margin: 16px 0;
          border-radius: 4px;
          &:hover {
            background-color: $Grey20;
          }
        }
      }

      &__footer {
        margin-top: auto;
        margin-bottom: 32px;
        color: $Grey80;
        font-size: 0.875rem;
        text-align: center;
      }
    }
  }
}
