@import "../../styles/variables.scss";

.distance-overlay {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  cursor: default;

  background-color: $White;
  color: $BC-Blue; /* Dark blue text */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow */

  .index-label {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    margin-right: 8px;
    background-color: $White;
    color: $BC-Blue;
    border: 1px solid $BC-Blue;
  }

  .distance-text {
    font-weight: bold;
  }

  &.selected {
    background-color: $Focus;
    color: $White;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Optional shadow */
  }

  &:not(.selected):hover {
    cursor: pointer;
    background-color: $Distance-label-hover;
    color: $White;

    .index-label {
      border: 1px solid $BC-Blue;
    }
  }
}
