@import "../../styles/variables";

.route-details {
  .route-title {
    .route-icon {
      height: 24px;
      width: 24px;
      border-radius: 12px;
      background-color: #053662;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.75rem;
      margin-bottom: 4px;

      svg {
        color: $White;
      }
    }

    .route-name-and-distance {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      gap: 10px;

      h4, p {
        margin-bottom: 0;
      }
    }

    .route-distance {
      font-size: 1.125rem;
      color: $Grey80;
      white-space: nowrap;
    }

    .route-image {
      cursor: pointer;
      width: 100%;
      margin: 1rem 0;
      border-radius: 4px;
    }
  }

  .route-items {
    margin-top: 16px;

    .route-item {
      padding: 4px 0;

      &__count {
        display: inline-block;
        width: 3ch;
        font-weight: 700;
        margin-left: 12px;
      }

      &__icon {
        svg {
          margin-left: 8px;
          margin-right: 8px;
        }
      }

      &--closures {
        border-left: 2px solid $Type-status-red;
        color: $Type-status-red;
        font-weight: 700;
      }

      &--advisories {
        border-left: 2px solid #584215;
        color: #584215;
        font-weight: 700;
      }

      &--major {
        border-left: 2px solid $Type-status-red;
      }

      &--minor {
        border-left: 2px solid $Warning;
      }

      &--roadConditions {
        border-left: 2px solid $Warning;
      }

      &--ferries {
        border-left: 2px solid #00674E;
      }
    }
  }

  &:has(.route-item--closures) {
    .route-icon {
      background-color: $Type-status-red;
    }

    .route-name {
      color: $Type-status-red;
    }
  }

  &:has(.route-item--advisories) {
    .route-icon {
      background-color: #584215;
    }

    .route-name {
      color: #584215;
    }
  }

  .viewCams-btn {
    font-size: 0.875rem;
    font-weight: 700;
    color: #255A90;
    border: none;
    background: none;
    padding: 0;
    margin-top: 12px;

    svg {
      margin-right: 8px;
    }
  }
}

.modal-dialog {
  .route-nickname {
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0;
    }

    svg {
      margin-left: 4px;
    }
  }
}
