name: 2. Create Tag & Build/Deploy to Test

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io/${{ github.repository_owner }}
  STATIC_IMAGE_NAME: drivebc-static
  DJANGO_IMAGE_NAME: drivebc-django
  REDIS_IMAGE_NAME: drivebc-redis
  OPENSHIFTJOBS_IMAGE_NAME: drivebc-openshiftjobs

permissions:
  packages: write

jobs:
  tag:
    runs-on: ubuntu-latest
    name: Create Tag and set Variable
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.create_tag.outputs.tag }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Generate Incremental Tag
      id: generate_tag
      run: |
        # Fetch existing tags
        git fetch --tags
        
        # Find the highest existing "b" tag number
        LAST_RUN_ID=$(git tag -l "b*" | sed -E "s/b//" | sort -n | tail -n 1)
        
        # Default to 0 if no previous run ID found
        if [ -z "$LAST_RUN_ID" ]; then
          LAST_RUN_ID=0
        fi
        
        # Increment run ID
        RUN_ID=$((LAST_RUN_ID + 1))
        TAG="b${RUN_ID}"
        
        echo "tag=$TAG" >> $GITHUB_OUTPUT

    - name: Create Tag
      id: create_tag
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"
        git tag ${{ steps.generate_tag.outputs.tag }}
        git push origin ${{ steps.generate_tag.outputs.tag }}
        echo "tag=${{ steps.generate_tag.outputs.tag }}" >> $GITHUB_OUTPUT

    - name: Display Tag Name
      run: |
        echo "Tag Name: ${{ steps.create_tag.outputs.tag }}"


  build-static:
    needs: [tag]
    runs-on: ubuntu-latest
    name: Build & Push Static Image
    environment: test
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
    
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.STATIC_IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=latest-test
            type=sha,format=long
            type=raw,value=${{ needs.tag.outputs.tag }}
          labels:
            app=drivebc
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./compose/frontend/StaticBuild
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          secrets:
            "FONTAWESOME_PACKAGE_TOKEN=${{ secrets.FONTAWESOME_PACKAGE_TOKEN }}"
          build-args:
            "DEBUG_BUILD=true"
          cache-from: type=gha
          cache-to: type=gha,mode=max


  build-django:
    needs: [tag]
    runs-on: ubuntu-latest
    name: Build & Push Backend Image
    environment: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
    
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.DJANGO_IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=latest-test
            type=sha,format=long
            type=raw,value=${{ needs.tag.outputs.tag }}
          labels:
            app=drivebc
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./compose/backend/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args:
            "DEBUG_BUILD=true"
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-redis:
    needs: [tag]
    runs-on: ubuntu-latest
    name: Build & Push Redis Image
    environment: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
    
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REDIS_IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=latest-test
            type=sha,format=long
            type=raw,value=${{ needs.tag.outputs.tag }}
          labels:
            app=drivebc
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./compose/redis/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args:
            "DEBUG_BUILD=true"
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-openshiftjobs:
    needs: [tag]
    runs-on: ubuntu-latest
    name: Build & Push OpenShift Jobs Image
    environment: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
    
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.OPENSHIFTJOBS_IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=latest-test
            type=sha,format=long
            type=raw,value=${{ needs.tag.outputs.tag }}
          labels:
            app=drivebc
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./compose/openshiftjobs/DockerFile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  update-openshift-gold:
    needs: [tag, build-static, build-django, build-redis, build-openshiftjobs]
    runs-on: ubuntu-latest
    name: Deploy Latest Images to OpenShift Gold
    environment:
      name: test
      url: https://test-drivebc.apps.gold.devops.gov.bc.ca
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install CLI tools from OpenShift Mirror
      uses: redhat-actions/openshift-tools-installer@v1
      with:
        oc: "4"
        skip_cache: true
      
    - name: Authenticate and set context
      uses: redhat-actions/oc-login@v1
      with:
        openshift_server_url: ${{ vars.OPENSHIFT_GOLD_SERVER }}
        openshift_token: ${{ secrets.OPENSHIFT_GOLD_TOKEN }}
        namespace: ${{ vars.OPENSHIFT_NAMESPACE }}
        insecure_skip_tls_verify: false
    - name: Helm upgrade on OpenShift Gold Environment
      run: |
        helm upgrade test-drivebc -f ./infrastructure/main/values-test.yaml ./infrastructure/main --set static.image.tag=${{ needs.tag.outputs.tag }} --set django.image.tag=${{ needs.tag.outputs.tag }} --set tasks.image.tag=${{ needs.tag.outputs.tag }} --set image-consumer.image.tag=${{ needs.tag.outputs.tag }} --set redis.image.tag=${{ needs.tag.outputs.tag }} --set openshiftjobs.image.tag=${{ needs.tag.outputs.tag }}

  # I have this run after the push to Gold because I want to make sure that Gold runs the migrations first. Gold DR can't run migrations as DB is read-only
  update-openshift-golddr:
    needs: [tag, update-openshift-gold] 
    runs-on: ubuntu-latest
    name: Deploy Latest Images to OpenShift GoldDR
    environment:
      name: test
      url: https://test-drivebc.apps.golddr.devops.gov.bc.ca
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install CLI tools from OpenShift Mirror
      uses: redhat-actions/openshift-tools-installer@v1
      with:
        oc: "4"
        skip_cache: true
     
    - name: Authenticate and set context
      uses: redhat-actions/oc-login@v1
      with:
        openshift_server_url: ${{ vars.OPENSHIFT_GOLDDR_SERVER }}
        openshift_token: ${{ secrets.OPENSHIFT_GOLDDR_TOKEN }}
        namespace: ${{ vars.OPENSHIFT_NAMESPACE }}
        insecure_skip_tls_verify: false

    - name: Helm upgrade on OpenShift GoldDR Environment
      run: |
        helm upgrade test-drivebc -f ./infrastructure/main/values-test.yaml -f ./infrastructure/main/values-test-dr.yaml ./infrastructure/main --set static.image.tag=${{ needs.tag.outputs.tag }} --set django.image.tag=${{ needs.tag.outputs.tag }} --set tasks.image.tag=${{ needs.tag.outputs.tag }} --set image-consumer.image.tag=${{ needs.tag.outputs.tag }}  --set redis.image.tag=${{ needs.tag.outputs.tag }} --set openshiftjobs.image.tag=${{ needs.tag.outputs.tag }}


#  automatedTests:
#    needs: [versionUpdate]
#    name: Automated Smoke Test
#    uses: bcgov/DriveBC.ca-automated-tests/.github/workflows/playwright.yml@main
#    with:
#      environment: 'test'
#    secrets: inherit
