name: Weekly OWASP ZAP Baseline Scan on Test Site
on:
  schedule:
    # Runs every week at 01:00 Sunday Morning.
    - cron:  '0 1 * * 0'
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan ZAP Test Site
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: "https://test-drivebc.apps.gold.devops.gov.bc.ca/"
          rules_file_name: "zap-rules.tsv"
