@import "styles/variables";
@import "styles/bootstrap-customizations";
@import "styles/typography";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

//Global styling
body {
  margin-top: 58px;
}

.divider {
  padding-bottom: 2em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid $Divider;
}

//Wagtail CMS content
.cms-page {
  .container {
    max-width: 740px;
  }

  .page-header {
    .timestamp-container, .friendly-time-text{
      color: $Type-Link;
      font-size: 0.875rem;
      font-weight: 700;
    }

    .timestamp-container {
      display: flex;

      .friendly-time, .formatted-date {
        margin-left: 1ch;
      }
    }
  }

  .cms-body {
    .responsive-object {
      position: relative;
    }

    .responsive-object iframe,
    .responsive-object object,
    .responsive-object embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 12px 0;

      &.full-width {
        width: 100%;
        height: auto;
      }

      &.left {
        display: flex;
        margin-right: auto;
      }

      &.right {
        display: flex;
        margin-left: auto;
      }
    }

    padding-top: 0;

    p, ol, ul {
      margin-bottom: 0.25rem;
    }

    p:empty {
      height: 24px;
      margin-bottom: 0;
    }

    ol, ul {
      padding-right: 1.5rem;

      li {
        margin-bottom: 0.25rem;
      }
    }
  }
}

// Openlayers Popup styles
.ol-popup {
  width: 100vw;
  height: 100%;
  background-color: $White;
  box-shadow: 0px 1.600000023841858px 3.5999999046325684px 0px rgba(0, 0, 0, 0.13), 0px 0.30000001192092896px 0.8999999761581421px 0px rgba(0, 0, 0, 0.10);
  border-radius: 4px;
  cursor: pointer;

   @media (min-width: 576px) {
     width: 560px;
     height: auto;
     position: absolute;
     top: 12px;
     left: 50%;
     transform: translate(-50%, 0);
     margin-bottom: 200px;
   }

  &-content {
    p {
      margin-bottom: 0;
    }

    .popup {
      font-size: 0.875rem;

      &__title, &__description {
        padding: 8px 44px 8px 16px;
      }

      &__title {
        background-color: $BC-Blue-Light;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .name {
          color: $HwyCrest;
        }

        .orientation {
          color: $Type-status-grey;
        }
      }

      &__description {
        background-color: $White;
        display: flex;
        gap: 24px;
        padding: 16px 16px 24px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        @media (max-width: 575px) {
          flex-direction: column;
          gap: 16px;
        }
      }

      &--camera {
        .popup__description {
          p {
            @media (max-width: 575px) {
              order: 2;
            }
          }
          .camera-image {
            @media (max-width: 575px) {
              order: 1;
            }

            img {
              @media (max-width: 575px) {
                width: 100%;
              }
            }

            .timestamp {
              background-color: $Black;
              padding: 0 10px;
              display: flex;
              color: $White;
              font-size: 0.714rem;

              p {
                color: $White;
                margin-bottom: 0;
              }

              .driveBC {
                font-family: serif;
                span {
                  color: $BC-Yellow;
                }
                margin-right: 10px;
              }

              .friendly-time, .formatted-date {
                margin-left: auto;
              }
            }
          }
        }
      }

      &--ferry {

        .popup__title {
          padding: 16px 44px 16px 16px;
          height: 65px;
          a {
            font-size: 1rem;
          }
        }
        img {
          width: 45%;
          height: 30%;

          @media (max-width: 575px) {
            width: 100%;
          }
        }
      }

      &--delay {
        .popup__description {
          .delay-type {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;

            .delay-severity {
              text-transform: capitalize;
              white-space: nowrap;
              display: flex;

              .delay-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                font-size: 0.6875rem;
                margin-right: 8px;
              }
            }

            .friendly-time--mobile {
                display: none;
              @media (max-width: 575px) {
                display: flex;
              }
            }
          }
          .delay-details {
            .label + .label {
              margin-top: 8px;
            }

            .friendly-time-desktop {
              display: flex;
              @media (max-width: 575px) {
                display: none;
              }
            }
          }
        }

        &.minor {
          .popup__title {
            background-color: $Surface-tint-yellow;
            .name {
              color: $Type-status-yellow;
            }
          }
          .popup__description {
            .delay-severity {
              color: $Type-status-yellow;

              p {
                color: $Type-status-yellow;
              }

              .delay-icon {
                color: $Type-status-yellow;
                background-color: $BC-Yellow;
              }
            }
          }
        }

        &.major {
          .popup__title {
            background-color: $Surface-status-red;
            .name {
              color: $Type-status-red;
            }
          }
          .popup__description {
            .delay-severity {
              color: $Type-status-red;

              p {
                color: $Type-status-red;
              }

              .delay-icon {
                color: $White;
                background-color: $Type-status-red;
              }
            }
          }
        }
      }
    }
  }

  .ol-popup-closer {
    position: absolute;
    top: 18px;
    right: 16px;
    cursor: pointer;
    color: $Type-status-grey;
    padding: 9px 10px;
    border-radius: 15px;
    font-size: 0.6875rem;

    &:hover {
      background-color: rgba(0,0, 0,0.1);
    }
  }
}

// Common styling
.camera-orientations {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  align-items: center;
  margin: 0.5rem 0;

  .colocated-camera-icon {
    margin: 0 auto;
  }

  .btn.camera-direction-btn {
    margin: 0 auto;
    padding: 2px 8px;
    font-size: 0.875rem;
    width: 100%;
    max-width: 48px;

    &:hover {
      background: $BC-Blue;
      color: white;
    }

    &:not(.current) {
      background: none;
      border-color: transparent;
      color: $Type-Primary;

      &:hover {
        background: $BC-Blue-Alt;
        color: white;
      }
    }
  }
}
