/* old file from dbccc code; removed import line */

.App {
  /* text-align: center; */
  user-select: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  padding: 0 65px 0 65px;
  color: #fff;
  display: flex;
  height: 65px;
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
  font-weight: normal;
  margin: 5px 5px 0 18px;
  visibility: hidden;
}

header h2 {
  margin: 6px 3px 6px 0;
  padding: 0px 4px;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 1.54912em;
  align-self: center;
}

header .banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px 0 0;
}

header .other {
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 729px) {
  header {
    padding: 0 12px;
  }

  p {
    font-size: 0.875em;
    line-height: 1.4;
  }
}
