@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "styles/variables";
@import "styles/bootstrap-customizations";
@import "styles/typography";

// Global styling
* {
  touch-action: pan-x pan-y;
}

// Prevent refresh on swipe-down
html,
body {
    overscroll-behavior-y: none;
    overflow: hidden;
}

html,
body,
#root,
.App {
  height: 100%;
}

.divider {
  padding-bottom: 2em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid $Divider;
}

//Wagtail CMS content
.cms-page {
  .container {
    max-width: 740px;
  }

  .page-header {
    .back-link {
      display: block;
      margin-bottom: 1rem;
    }

    &__title {
      .page-title {
        font-size: 2.25rem;
        margin-bottom: 1rem;
      }

      .page-description {
        margin-bottom: 1rem;
      }

      .timestamp-container, .friendly-time-text{
        color: $Type-Link;
        font-size: 0.875rem;
        font-weight: 700;
      }

      .timestamp-container {
        .friendly-time, .formatted-date {
          margin-left: 0.5ch;
        }
      }
    }
  }

  .cms-body {
    .responsive-object {
      position: static;
      padding-bottom: 2rem !important;

      display: flex;
      align-items: center;
      justify-content: center;

      iframe, img, object, embed {
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;

        @media screen and (min-width: 768px) {
          width: 60%;
        }
      }
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 12px 0;

      &.full-width {
        width: 100%;
        height: auto;
      }

      &.left {
        display: flex;
        margin-right: auto;
      }

      &.right {
        display: flex;
        margin-left: auto;
      }
    }

    padding-top: 0;

    p, ol, ul {
      margin-bottom: 0.25rem;
    }

    p:empty {
      height: 24px;
      margin-bottom: 0;
    }

    ol, ul {
      padding-right: 1.5rem;

      li {
        margin-bottom: 0.25rem;
      }
    }

    .callout {
      max-width: 740px;
      background-color: rgb(250, 249, 248);
      padding: 16px 24px;
      margin: 16px 0px;
      border-width: 1px 1px 1px 8px;
      border-top-style: initial;
      border-right-style: initial;
      border-bottom-style: initial;
      border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) rgb(1, 51, 102);
      border-image: initial;
      border-left-style: solid;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
    }
  }
}

// Common styling
.camera-orientations {
  display: flex;
  align-items: center;
  background-color: $Blue10;
  border-radius: 4px;
  margin-top: 8px;
  padding: 4px 0px;
  font-size: 14px;
  font-weight: bold;
  color: $BC-Blue;

  .rotate-cam-container {
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
      margin: 0 8px;
    }

    span {
      margin-right: 12px;
    }
  }

  .btn.camera-direction-btn {
    margin: 0;
    padding: 0;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 700;
    width: 5ch;

    &:hover {
      background: $BC-Blue;
      color: white;
    }

    &:not(.current) {
      background: none;
      border-color: transparent;
      color: $BC-Blue;
      font-weight: 400;

      &:hover {
        background: $BC-Blue-Alt;
        color: white;
      }
    }
  }
}

// Forms
.form-control {
  font-size: 1rem;
  padding: 0.385rem 0.75rem;
  line-height: 1;

  &::placeholder {
    color: $Type-Disabled;
  }
}

// Hide recaptcha badge
.grecaptcha-badge {
    visibility: hidden !important;
}

// Advisories button
.btn.advisories-btn {
  background: $Advisory-Bg;
  width: fit-content;
  font-size: 0.875rem;
  font-weight: 700;
  color: $Advisory-Text;
  border-radius: 5px;
  border: 1px solid $Advisory-Text;
  margin-bottom: 0;
  display: flex;
  align-items: center;

  &:hover, &:active, &.active, &.open {
    color: $White;
    background: $Advisory;

    .advisories-count {
      background: $White;
      color: $Advisory;
    }
  }

  &:focus, &.focus {
    outline: $BC-Yellow;
  }

  svg {
    margin-right: 8px;
  }

  .advisories-count {
    margin-left: 12px;
    font-size: 0.625rem;
    color: white;
    background: $Advisory-Text;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


// Favourite star button
.favourite-btn, .viewMap-btn {
  border: none;
  background: $Grey10;
  font-weight: 700;
  font-size: 0.875em;
  color: $Type-Link;
  border-radius: 4px;
  padding: 0.375rem 0.5rem;

  svg {
    margin-right: 8px;
    color: $Type-Link;
  }
  &:hover {
    background: $BtnHover-Secondary;
  }

  &.favourited {
    &:hover {
      svg {
        color: $Warning;
        fill: $Warning;
      }
    }
    svg {
      color: $Warning;
      fill: $Warning;
    }
  }
}

.btn-tertiary {
  border: none;
  background: none;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 0.375rem 0.5rem;
  &:hover {
    background: $BtnHover-Tertiary;
    transition: 0.2s ease-in-out all;
  }
}

.link-in-text {
  color: $Type-Primary;
}

.space-between-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  &:has(.auth-modal), &:has(.overlay.open) {
    div[class*='-page'] {
      position: fixed;
      width: 100%;
    }
  }

  display: flex;
  flex-direction: column;

  > main {
    height: 100%;
    overflow-y: auto;

    div[class*='-page'] {
      // overflow-y: scroll;
      .container {
        @media (min-width: 576px) {
          max-width: unset;
          padding: 32px 16px;
        }

        @media (min-width: 992px) {
          padding: 44px 64px;
          max-width: 1828px;
        }
      }

      &.cms-page {
        .container {
          max-width: 1260px;
        }
      }
    }
  }
}

// advisories and search overlay
.overlay {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  min-height: 0;
  z-index: 6;
  background: white;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &.open {
    height: 100%;
  }

  @media (min-width: 768px) {
    width: 0;
    min-height: 100%;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);

    &.open {
      width: 400px;
    }
  }

  .overlay__header {
    font-size: 1.125rem;
    color: $BC-Blue;
  }

  &.search-overlay {

    &.open {
      padding: 5rem 1rem 1rem;
    }

    .routing {
      padding: 0 15px 0 0;

      .routing-container .typeahead-container {
        width: 100%;
      }
    }
  }

  &.filters-overlay {
    display: flex;
    flex-direction: column;

    .filters-component {
      overflow-y: auto;
    }

    &.open {
      height: 100%;
      .overlay__header {
        // need to update if AB route alts are present
        padding: 1rem 1rem 0;
      }
    }
  }

  .close-overlay {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    min-width: 0;
    line-height: 1.25rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: none;
    border: none;
    font-size: 1rem;
    color: $BC-Blue;
  }
}

:focus, :focus-visible {
  outline: 2px solid $Focus;
  box-shadow: 0 0 0 0.25rem rgba(1, 51, 102, 0.25);
}

button.text-only-btn {
  margin: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.back-link {
  font-weight: 700;
  text-decoration: none;
  font-size: 0.875rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    svg {
      transform: translateX(-2px);
      transition: 0.4s transform $Anim-gentle;
    }
  }

  svg {
    margin-right: 8px;
    transition: 0.4s transform $Anim-gentle;
  }
}

.link-div {
  cursor: pointer;
}

// error notification
.error-notification {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: space-around;
  width: calc(100% - 2rem);
  min-height: 84px;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.875rem;
  box-shadow: 0px 3.2px 7.2px 0px #00000021;
  background: $Stale-Notification;
  transition: margin-left 0.25s ease-in-out;
  margin-left: 0;
  z-index: 1000;

  @media (min-width: 576px) {
    width: 374px;
  }

  &.stale-link-error, &.server-error {
    background: $Stale-Notification;
    .error-icon {
      background-color: $Type-Primary;
    }
  }

  &.network-error, &.location-access-error {
    background: $Error-Notification;
    .error-icon {
      background-color: $Gold110;
    }
  }

  .error-icon {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    color: white;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-right: 12px;
  }

  .message-header {
    display: flex;
    justify-content: space-between;

    .close-btn {
      cursor: pointer;
      margin: 0 4px;
    }
  }
}
