@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "styles/variables";
@import "styles/bootstrap-customizations";
@import "styles/typography";

//Global styling
body {
  margin-top: 58px;
}

.divider {
  padding-bottom: 2em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid $Divider;
}

//Wagtail CMS content
.cms-page {
  .container {
    max-width: 740px;
  }

  .page-header {
    .timestamp-container, .friendly-time-text{
      color: $Type-Link;
      font-size: 0.875rem;
      font-weight: 700;
    }

    .timestamp-container {
      display: flex;

      .friendly-time, .formatted-date {
        margin-left: 1ch;
      }
    }
  }

  .cms-body {
    .responsive-object {
      position: relative;
    }

    .responsive-object iframe,
    .responsive-object object,
    .responsive-object embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 12px 0;

      &.full-width {
        width: 100%;
        height: auto;
      }

      &.left {
        display: flex;
        margin-right: auto;
      }

      &.right {
        display: flex;
        margin-left: auto;
      }
    }

    padding-top: 0;

    p, ol, ul {
      margin-bottom: 0.25rem;
    }

    p:empty {
      height: 24px;
      margin-bottom: 0;
    }

    ol, ul {
      padding-right: 1.5rem;

      li {
        margin-bottom: 0.25rem;
      }
    }
  }
}

// Common styling
.camera-orientations {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  align-items: center;
  margin: 0.5rem 0;

  .colocated-camera-icon {
    margin: 0 auto;
  }

  .btn.camera-direction-btn {
    margin: 0 auto;
    padding: 2px 8px;
    font-size: 0.875rem;
    width: 100%;
    max-width: 48px;

    &:hover {
      background: $BC-Blue;
      color: white;
    }

    &:not(.current) {
      background: none;
      border-color: transparent;
      color: $Type-Primary;

      &:hover {
        background: $BC-Blue-Alt;
        color: white;
      }
    }
  }
}

// Forms
.form-control {
  font-size: 0.875rem;
  padding: 0.385rem 0.75rem;
  line-height: 1;

  &::placeholder {
    color: $Type-Disabled;
  }
}

// Hide recaptcha badge
.grecaptcha-badge {
    visibility: hidden !important;
}
