@import "styles/variables";
@import "styles/bootstrap-customizations";
@import "styles/typography";

body {
  margin-top: 58px;
}

.demo-group {
  padding-bottom: 60px;
  max-width: 900px;

  & > div {
    margin-bottom: 40px;
  }

  &--button {
    button + button {
      margin-left: 20px;
    }

    &--dark {
      background-color: $BC-Blue;
      height: 120px;
      width: 800px;
      padding: 40px;
      text-align: center;

      .btn-outline-primary {
        color: white;
        border-color: white;
        background-color: none;

        &:hover {
          color: $BC-Blue;
          background-color: white;
          border-color: white;
        }
      }
    }
  }

  &--card .cards {
    display: flex;
    .card + .card {
    margin-left: 40px;
    }
  }
}
