@import "./styles/variables.scss";

.camera-page {

  .back-link {
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    svg {
      margin-right: 8px;
    }
  }
  .camera-details {
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__description {
      h2 {
        margin-bottom: 1em;
      }

      .body--large {
        margin-bottom: 2em;

        @media (min-width: 992px) {
          margin-bottom: 0;
        }
      }
    }

    &__more {
      display: flex;
      justify-content: space-between;
      margin: 0;

      @media (min-width: 576px) {
        justify-content: flex-start;
        gap: 60px;
      }

      &__hwy, &__elevation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .label--more {
          margin-top: 1em;
          white-space: nowrap;
        }
      }

      &__hwy {
        .highway-shield {
          position: relative;

          &__number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 4px;
            color: $HwyCrest;
            font-weight: 700;
            font-size: 0.875em;
            letter-spacing: -0.05em;
          }
          img {
            height: 50px;
          }
        }
      }

      &__elevation {
        .elevation {
          font-weight: 700;
          line-height: 1;
          color: $BC-Blue;
          margin-bottom: 0;

          .number {
            font-size: 4em;
          }
        }
      }

      .label--more {
        font-weight: 700;
        margin-bottom: 0;
        color: $Grey70;
      }
    }
  }

  .camera-message {
    border-left: 3px solid;
    margin-bottom: 2em;
    padding: 40px;

    p, ul {
      margin-bottom: 0;
    }

    p.bold {
      margin: 0.5em 0 1em;
    }

    svg {
      font-size: 1.5em;
    }

    &.stale {
      padding: 20px;
      background-color: $Surface-status-grey;
      border-color: $Type-status-grey;

      p {
        color: $Type-status-grey;
        margin: 0;
      }
    }

    &.delayed {
      background-color: $Surface-status-yellow;
      border-color: $Type-status-yellow;

      p, ul, svg {
        color: $Type-status-yellow;
      }
    }

    &.unavailable {
      background-color: $Surface-status-red;
      border-color: $Type-status-red;

      p, ul, svg {
        color: $Type-status-red;
      }
    }
  }

  .camera-update {
    margin-bottom: 0;
  }

  .camera-imagery {
    max-width: 518px;
    margin: 0 auto;

    .nav-tabs {
      border: none;

      .nav-item {
        .nav-link {
          color: $Type-Primary;
          border: none;
          font-size: 0.875em;

          svg {
            margin-right: 8px;
          }

          &.active {
            border-bottom: 2px solid $BC-Blue;
          }
        }
      }
    }

    .tab-content {
      & > .tab-pane {
        margin-top: 16px;

        .card-img-box {
          margin: 0 -16px;

          &.unavailable {
            background-color: $Type-Disabled;
            font-size: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          @media (min-width: 576px) {
            margin: 0;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .replay-div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (min-width: 420px) {
        flex-direction: row;
        justify-content: space-between;
      }

      .next-update, .replay-the-day {
        margin-bottom: 0.5em;

        @media (min-width: 576px) {
          margin-bottom: 0;
        }
      }

      .next-update {
        height: 24px;
        display: flex;
        align-items: center;
        padding: 6px;
        background-color: $BC-Blue-Light;
        color: $BC-Blue;
        border: 1px solid $BC-Blue;
        border-radius: 12px;

        svg {
          font-size: 0.625em;
          margin-right: 8px;
        }

        p {
          margin-bottom: 0;
          font-size: 0.75em;
          font-weight: 700;
          color: $BC-Blue;
        }
      }

      .replay-the-day {
        .form-switch {
          display: flex;
          align-items: center;
          margin-bottom: 0;

          .form-check-input, .form-check-label {
            cursor: pointer;
          }

          .form-check-input {
            height: 20px;
            margin-right: 8px;
          }

          .form-check-label {
            font-size: 0.875em;
            white-space: nowrap;

            @media (min-width: 576px) {
              font-size: 1em;
            }
          }
        }
      }
    }

    //Responsive Tabs
    .tab-content {
      .tab-pane {
        .replay-div {
          height: 64px;
        }
        .card-img-box {
          height: 400px;
        }

        &:last-of-type {
          .replay-div {
            height: 0;
          }
          .card-img-box {
            height: 464px;
          }
        }

        @media (min-width: 420px) {
          .replay-div {
            height: 44px;
          }
          &:last-of-type {
            .card-img-box {
              height: 444px;
            }
          }
        }

        @media (min-width: 992px) {
          &, &:last-of-type {
            .replay-div {
              height: 44px;
            }
            .card-img-box {
              height: 400px;
            }
          }
        }
      }
    }

    //Desktop view without tabs
    @media (min-width: 992px) {
      max-width: unset;
      margin: 0;

      .nav-tabs {
        display: none;
      }

      .tab-content {
        display: flex;

        & > .tab-pane {
          opacity: 1;
          display: block;
          width: calc(50% - 10px);

          &:first-of-type {
            margin-right: 12px;
          }

          &:last-of-type {
            margin-left: 12px;
          }
        }
      }
    }
  }

  //Map in Context
  .map-context-wrap {
    position: relative;
    top: 0rem;
    bottom: 0;
    height: 400px;
    width: 100%;

    .map {
      width: 100%;
      height: 100%;
    }

    .map-btn {
      font-size: 0.75em;
      padding: 4px 8px;
      height: 28px;
      border-radius: 14px;

      &.map-view {
        position: absolute;
        top: 8px;
        right: 8px;
      }
      
      &.cam-location {
        position: absolute;
        bottom: 8px;
        left: 8px;
      }

      &.zoom-in, &.zoom-out, &.open-layers {
        height: 28px;
        width: 28px;
        border-radius: 14px;
      }

      &.zoom-in{
        position: absolute;
        bottom: calc(16px + 28px);
        right: 8px;
      }
      
      &.zoom-out {
        position: absolute;
        bottom: 8px;
        right: 8px;
      } 
    }
  }
}
