@import "styles/variables";

.auth-modal {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.3);

  .content{
    min-height: 200px;
    min-width: 300px;
    background: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex: 0;
      font-weight: bold;
      font-size: 1.25rem;

      .title {
        text-align: center;
        flex: 1;
      }

      .modal-closer {
        flex: 0;
      }
    }

    .body {
      flex: 1;
      padding: 2rem
    }
  }
}