@import "../../styles/variables";

.camera-card {
  border-radius: 4px;
  border: none;
  outline: 2px solid transparent;
  transition: all 0.3s ease;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;

  @media (min-width: 576px) {
    width: unset;
    margin: unset;
  }

  .card-img-box {
    &:has(~ .camera-name:hover), &:hover {
      .card-img {
        cursor: pointer;
        transform: scale(1.25);
      }

      & ~ .camera-name {
        text-decoration: underline;
      }
    }
  }



  &.unavailable:not(.loading) {
    .card-img-box {
      background-color: $Surface-major;
      padding: 12px;
    }
    .card-notification {
      .card-pill {
        top: 10px;
        background-color: $Error;
        transform:translateY(0%);

        p {
          color: $White;
        }

      }
    }

    .unavailable-message {
      margin-top: 48px;

      svg, p {
        color: $Error;
      }

      svg {
        font-size: 1rem;
      }

      p {
        margin-bottom: 0;
        font-size: 0.875rem;
      }
    }
  }

  &.updated {
    .card-banner, .card-pill {
      background-color: $Blue80;

      p, svg {
        color: $White;
      }
    }

    .card-pill {
      &:hover {
        background-color: $Blue70;
      }
    }
  }

  &.stale {
    .card-banner, .card-pill {
      background-color: $Grey50;

      p, svg {
        color: $Grey100;
      }
    }

    .card-pill {
      &:hover {
        background-color: $Grey70;
      }
    }
  }

  &.delayed {
    .card-banner, .card-pill {
      background-color: $Gold20;

      p, svg {
        color: $BC-Yellow-Dark;
      }
    }

    .card-pill {
      &:hover {
        background-color: $Gold60;
      }
    }
  }

  &.unavailable {
    .card-pill {
      &:hover {
        background-color: $Error;
      }
    }
  }

  &__body {
    .camera-orientations {
      margin-bottom: 8px;

      &.no-margin-top {
        margin-top: 0;
      }
    }

    .camera-name {
      font-size: 1.125rem;
      color: $Type-Link;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .card-img-box {
      position: relative;
      overflow: hidden;
      height: 180px;
      margin-bottom: -10px;  /* to allow overlap of image timestamp bar */
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      @media (min-width: 992px) {
        height: 200px;
      }

      .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0;
        transition: all 0.3s ease;
      }

      .card-banner, .card-pill {
        position: absolute;
        display: flex;
        align-items: center;
        cursor: pointer;

        &.hidden {
          transform:translateY(-200%);
          transition: transform 0.7s;
        }

        &.bounce {
          animation: bounce 0.7s ease;
          animation-fill-mode:forwards;
        }

        @keyframes bounce {
            0% { transform:translateY(-200%); }
            40% { transform:translateY(20%); }
            100% { transform:translateY(0%); }
        }

        p {
          font-weight: 700;
          margin-bottom: 0;
        }
      }

      .card-banner {
        padding: 36px 6px 12px 12px;
        top: -24px;
        width: 100%;
        justify-content: space-between;

        p, svg {
          font-size: 0.6875rem;
        }

        svg {
          padding: 6px 7px;
          border-radius: 12px;

          &:hover {
            background-color: rgba(0,0, 0,0.1);
          }
        }
      }

      .card-pill {
        top: 8px;
        right: 8px;
        padding: 2px 6px;
        border-radius: 12px;
        transform:translateY(-200%);
        transition: background-color 0.1s ease-in-out;

        &:hover {
          transition: background-color 0.1s ease-in-out;
        }

        p, svg {
          font-size: 0.625rem;
        }

        svg {
          margin-left: 4px;
        }
      }
    }

    .label {
      margin-bottom: 0.5em;
    }

    .card-img-timestamp {
      background-color: $Black;
      padding: 0 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      span {
        color: $White;
        font-size: 0.625rem;
        margin-bottom: 0;
      }

      .driveBC {
        font-family: serif;
        span {
          color: $BC-Yellow;
        }
        margin-right: 10px;
      }

      .friendly-time__tooltip {
        top: 0;
        left: -10px;
        transform: translate(-100%, -25%);
        margin-right: 7px;

        @media (min-width: 576px) {
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0);
          margin-top: 7px;
        }

        &:before {
          content: "";
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid $Grey90;
          position: absolute;
          top: 7px;
          left: 100%;
          transform: translate(0, 25%);
          margin-left: 0;

          @media (min-width: 576px) {
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            border-bottom: 7px solid $Grey90;
            top: initial;
            left: 50%;
            bottom: 100%;
            transform: translate(-50%, 0);
            margin-left: 7px;
          }
        }
      }
    }
  }

  &__tools {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    .viewDetails-btn {
      svg {
        margin-left: 8px;
      }
    }
  }
}

.react-loading-skeleton {
  --base-color: #{$Blue20};
  --highlight-color: #{$Blue10};
  --animation-duration: 1s !important;
  background: linear-gradient(
    90deg,
    var(--base-color) 10%,
    var(--highlight-color) 50%,
    var(--highlight-color) 75%
  ) !important;
  background-size: 200% 100%;
}
