@import "../../styles/variables";

.card.webcam-card {
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  border: none;
  outline: 2px solid transparent;
  transition: all 0.3s ease;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 576px) {
    width: unset;
    margin: unset;
  }

  .card-body {
    padding: 12px;
    
    .card-img-box {
      position: relative;
      overflow: hidden;
      height: 180px;

      @media (min-width: 992px) {
        height: 180px;
      }

      .card-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0;
        transition: all 0.3s ease;
      }

      .card-banner, .card-pill {
        position: absolute;
        display: flex;
        align-items: center;

        &.hidden {
          transform:translateY(-200%);
          transition: transform 0.7s;
        }

        &.bounce {
          animation: bounce 0.7s ease;
          animation-fill-mode:forwards;
        }
        
        @keyframes bounce {
            0% { transform:translateY(-200%); }
            40% { transform:translateY(20%); }
            100% { transform:translateY(0%); }
        }

        p {
          font-weight: 700;
          margin-bottom: 0;
        }
      }

      .card-banner {
        padding: 24px 6px 12px 12px;
        top: -12px;

        p, svg {
          font-size: 0.6875em;
        }

        svg {
          padding: 6px 7px;
          border-radius: 12px;

          &:hover {
            background-color: rgba(0,0, 0,0.1);
          }
        }
      }

      .card-pill {
        top: 18px;
        right: 10px;
        padding: 4px 6px;
        border-radius: 12px;
        transform:translateY(-200%);

        p, svg {
          font-size: 0.625em;
        }

        svg {
          margin-left: 4px;
        }
      }
    }
    
    .label {
      margin-bottom: 0.5em;
    }

    .timestamp {
      background-color: $Black;
      padding: 0 10px;
      margin-bottom: 1em;
      display: flex;
      justify-content: space-between;

      p {
        color: $White;
        font-size: 0.625em;
        margin-bottom: 0;
      }
      
      .driveBC {
        font-family: serif;
        span {
          color: $BC-Yellow;
        }
        margin-right: 10px;
      }
    }
  }

  button.btn.viewmap-btn {
    margin-bottom: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $Grey10;
    border-color: $Grey10;
    color: $BC-Blue;
    transition: all 0.3s ease;
    font-size: 0.875em;
    padding: 12px;

    &:hover {
      border-radius: 2px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: $Type-Link;
      border-color: $Type-Link;
      color: $White;
    }

    svg {
      margin-left: 8px;
    }
  }
  
  &:hover {
    cursor: pointer; //need to change component to proper link later
    outline: 2px solid $Type-Link;

    .card-body {
      
      .card-img {
        transform: scale(1.25);
      }
    }
  }

  &.unavailable {
    .card-img-box {
      background-color: $Surface-status-red;
      padding: 12px;
    }
    .card-notification {
      .card-pill {
        top: 10px;
        background-color: $Error;
        transform:translateY(0%);
  
        p {
          color: $White;
        }

      }
    }

    .unavailable-message {
      margin-top: 48px;

      svg, p {
        color: $Error;
      }

      svg {
        font-size: 1em;
      }

      p {
        margin-bottom: 0;
        font-size: 0.875em;
      }
    }
  }

  &.stale {
    .card-banner, .card-pill {
      background-color: $Grey50;

      p, svg {
        color: $Grey100;
      }
    }
  }

  &.delayed {
    .card-banner, .card-pill {
      background-color: #FDDC8C;

      p, svg {
        color: #866619;
      }
    }
  }
}